<app-nav-bar></app-nav-bar>
<div class="box">
  <div class="downloadSection">
    <div class="rectangle">
      <div class="downloadMessage">
        <p class="text">Food is for eating & good food is to be enjoyed.<br>Download the app today!</p>
      </div>
      <div class="buttons">
        <div class="button1">
          <img src="assets/images/AppStore.png" alt="">
        </div>
        <div class="button2">
          <img src="assets/images/PlayStore.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="contact">
    <div class="imageContainer">
      <p class="text1">We’d love to hear from you</p>
      <p class="text2">Get in touch to discover what we can<br>do for you.</p>
    </div>
    <div class="tab">MERCHANT</div>
    <div class="top">
      <div class="left">
        <mat-form-field>
          <mat-label>Name*</mat-label>
          <div style="display: block;  position: relative;">
            <input matInput>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contact Email-id*</mat-label>
          <div style="display: block;  position: relative;">
            <input matInput>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Entity Area*</mat-label>
          <div style="display: block;  position: relative;">
            <input matInput>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Query Category*</mat-label>
          <select matNativeControl >
            <option value="volvo">Select</option>
          </select>
        </mat-form-field>

      </div>
      <div class="right">
        <mat-form-field>
          <mat-label>Entity Name*</mat-label>
          <div style="display: block;  position: relative;">
            <input matInput>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contact Number*</mat-label>
          <div style="display: block;  position: relative;">
            <input matInput>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Entity City*</mat-label>
          <div style="display: block;  position: relative;">
            <input matInput>
          </div>
        </mat-form-field>

      </div>
    </div>
    <div class="bottom">
      <mat-form-field>
        <mat-label>Message</mat-label>
        <div style="display: block;  position: relative;">
          <input matInput>
        </div>
      </mat-form-field>
    </div>
    <button>SEND</button>
  </div>
</div>
<!-- 
      <mat-form-field>
        <mat-label>Name*</mat-label>
        <div style="display: block;  position: relative;">
          <input matInput>
        </div>
      </mat-form-field>
-->
