@import '../../../mixin.scss';
@import '../../../variables.scss';

.box {
  position: relative;
  height: 1263px;
  width: 100%;
  background: #F1F3FB;
  border: 0px;
  margin: 0px;
  padding: 0px;
  margin-top: 3.9em;
  top: 0;

  .downloadSection {
    background-image: url(../../../assets/images/bg_pattern.png);
    border: 1px solid transparent;
    width: 100%;
    height: 134px;

    .rectangle {
      width: 960px;
      height: 64px;
      margin: auto;
      margin-top: 33px;
      display: flex;
      justify-content: space-between;

      .downloadMessage {
        height: 64px;
        width: 501px;

        .text {
          height: 64px;
          width: 501px;
          color: #000000;
          font-family: $openSansSemibold;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 32px;
        }
      }

      .buttons {
        width: 410px;
        display: flex;
        justify-content: space-between;

        .button1 {
          height: 55px;
          width: 195px;
          margin-top: 8px;
        }

        .button2 {
          height: 55px;
          width: 195px;
          margin-top: 8px;
        }
      }
    }
  }

  .contact {
    height: 1075px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    .imageContainer {
      height: 355px;
      width: 982px;
      margin-left: -10px;
      background-image: url(../../../assets/images/about_banner_2.png);

      .text1 {
        height: 46px;
        width: 489px;
        color: #FFFFFF;
        font-family: $openSansSemibold;
        font-size: 37px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 46px;
        text-align: center;
        position: absolute;
        margin-top: 102px;
        margin-left: 65px;
      }

      .text2 {
        height: 58px;
        width: 380px;
        color: #FFFFFF;
        font-family: $openSans;
        font-size: 22px;
        letter-spacing: 0;
        line-height: 29px;
        text-align: right;
        position: absolute;
        margin-top: 168px;
        margin-left: 65px;
        text-align: left;
      }
    }

    .tab {
      height: 19px;
      width: 80px;
      color: #1F1F1F;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 19px;
      margin-top: 44px;
      margin-left: 82px;
    }

    .top {
      width: 794px;
      height: 366px;
      margin-left: 83px;
      margin-top: 45px;
      display: flex;

      .left {
        width: 380px;
        height: 366px;

        mat-form-field {
          margin-bottom: 34px;
          height: 66px;
          width: 380px;

          mat-label {
            height: 17px;
            width: 37.01px;
            color: #858585;
            font-family: $openSans;
            font-size: 16px;
            letter-spacing: -0.24px;
            line-height: 17px;
          }

          input {
            height: 39px;
            width: 293.64px;
            color: #000000;
            font-family: $openSans;
            font-size: 16px;
            letter-spacing: -0.27px;
            line-height: 22px;
          }
        }
      }

      .right {
        width: 380px;
        height: 264px;
        margin-left: 33px;

        mat-form-field {
          margin-bottom: 33px;
          height: 66px;
          width: 380px;

          mat-label {
            height: 17px;
            width: 37.01px;
            color: #858585;
            font-family: $openSans;
            font-size: 16px;
            letter-spacing: -0.24px;
            line-height: 17px;
          }

          input {
            height: 39px;
            width: 293.64px;
            color: #000000;
            font-family: $openSans;
            font-size: 16px;
            letter-spacing: -0.27px;
            line-height: 22px;
          }

          select {

            option {
              height: 39px;
              width: 293.64px;
              color: #000000;
              font-family: $openSans;
              font-size: 16px;
              letter-spacing: -0.27px;
              line-height: 22px;
            }
          }
        }
      }
    }

    .bottom {
      width: 794px;
      height: 66px;
      margin-left: 83px;

      mat-form-field {
        margin-top: 33px;
        height: 66px;
        width: 792px;

        mat-label {
          height: 17px;
          width: 37.01px;
          color: #858585;
          font-family: $openSans;
          font-size: 16px;
          letter-spacing: -0.24px;
          line-height: 17px;
        }

        input {
          height: 39px;
          width: 293.64px;
          color: #000000;
          font-family: $openSans;
          font-size: 16px;
          letter-spacing: -0.27px;
          line-height: 22px;
        }
      }
    }

    button {
      height: 50px;
      width: 190px;
      border-radius: 6px;
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.56px;
      line-height: 22px;
      text-align: center;
      text-shadow: 0 0 9px 0 #FFFFFF;
      background: linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);
      box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
      border-color: transparent;
      outline: none;
      margin-top: 80px;
      margin-left: 688px;
    }
  }
}

/*
mat-form-field {
      height: 66px;
      width: 380px;

      mat-label {
        height: 17px;
        width: 37.01px;
        color: #858585;
        font-family: "Open Sans";
        font-size: 16px;
        letter-spacing: -0.24px;
        line-height: 17px;
      }

      input {
        height: 39px;
        width: 293.64px;
        color: #000000;
        font-family: "Open Sans";
        font-size: 16px;
        letter-spacing: -0.27px;
        line-height: 22px;
      }
    }
*/
