<div class="container-fluid add-banner">
    <div class="row">

        <div class="col-2 d-none d-md-block">
            <img class="left-image" src="../../../../assets/images/Image 4.png" />
        </div>

        <div class="col-12 col-md-5 heading-area">
            <div class="header-items">
                <div class="header-text">Crave App</div>
                <div class="app-sub-header">
                    Download the Food App
                </div>
                <div class="app-description">
                    Get realtime order updates, live chat support, and exclusive app-only offers.
                </div>
                <div class="app-link-contaner mt-3">
                    <img src="../../../../assets/images/app-store.png" class="app-link-image" (click)="goToAppStore()"/>
                    <img src="../../../../assets/images/google-play.png" class="app-link-image" (click)="goToPlayStore()"/>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-5 d-none d-md-block right-fill-container ">
            <img class="right-fill" src="../../../../../assets/images/Fill 1 Copy 2.png" />
            <img class="iphone-image" src="../../../../../assets/images/iphone.png" />
        </div>
    </div>
</div>