<ul class="progress-indicator">
  <li class="line" [ngClass]="{'completed-1':true, 'completed-2':step1}">
    <span class="bubble">
      <span class="text">Cart</span>
    </span> 
  </li>
  <li class="line" [ngClass]="{'completed-1':step1, 'completed-2':step2}">
    <span class="bubble">
      <span class="text">Address&nbsp;&nbsp;Details</span>
    </span>
  </li>
  <li class="line" [ngClass]="{'completed-1':step2}">
    <span class="bubble">
      <span class="text">Payment</span>
    </span>
  </li>
</ul>