@import '../../../../../variables.scss';

.progress-indicator {
  display: flex;
  margin-left: -3.4em;
  margin-top: 3em;
  width: 50em;

  .line {
    flex: 1;
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbb;
    display: block;
    font-family: $openSans;
    font-size: 0.8em;

    .bubble {
      border-radius: 50%;
      width: 2em;
      height: 2em;
      display: block;
      margin: 0em .1em;
      border-bottom: 1px solid #888;
      background-color: #C9C6C6;
      border: 2px solid #fff;
      box-shadow: 0 0 0 2px #C9C6C6;
      display: flex;
      align-items: center;
      justify-content: center;
   
      word-wrap: none;
      .text {
        position: relative;
        width: 15em;
        top: 2em;
        text-align: center;
        color: #bbb;
      }

      &::after,
      &::before {
        display: block;
        position: absolute;
        z-index: -1;
        top: 10px;
        width: 50%;
        height: 3px;
        content: '';
        background-color: #bbb
      }

      &::before {
        left: 0
      }

      &::after {
        right: 0
      }
    }

  }

  .completed-1 {
    .bubble {
      color: #65d074;
      background: $calenderTheme;
      border: 2px solid $white;
      box-shadow: 0 0 0 2px $darkPink;

      &::after,
      &::before {
        background:  -webkit-linear-gradient(13.33deg, #FEB456 30%, #f1bf7d 50%, #b4acac 70%);
        border-color: #707824;
      }

    }
  }

  .completed-2 {
    .bubble {
      color: #65d074;
      background: $calenderTheme;
      border: 2px solid $white;
      box-shadow: 0 0 0 2px $darkPink;

      &::after,
      &::before {
        background:  $calenderTheme;
        border-color: #707824;
      }

    }
  }
}

.progress-indicator>li:first-child .bubble:after,
.progress-indicator>li:first-child .bubble:before {
  width: 100%;
  margin-left: 0%
}

.progress-indicator>li:nth-child(2) .bubble:after,
.progress-indicator>li:nth-child(2) .bubble:before {
  width: 100%;
  margin-left: 0%
}

.progress-indicator>li:last-child .bubble:after,
.progress-indicator>li:last-child .bubble:before {
  width: 0%;
  margin-right: 0%
}

@media only screen and (max-width: 999px) {
  .progress-indicator {
    display: flex;
    margin-left: 0em;
    margin-top: 2em;
    width: 25em;
  }
}