<div class="payment-method">
    <div class="payment-type">
        <label class="payment-type-text">Please select your preferred way to pay.</label>
        <div class="d-flex payment-type-cards">
            <div class="d-flex payment-card">
                <input type="radio" name="payment-type" [(ngModel)]="paymentType" value="cod" class="radio-btn" checked>
                <img class="icon" src="assets/images/icn_wallet.png">
                <label class="text">Cash</label>
            </div>
            <div class="d-flex payment-card">
                <input type="radio" name="payment-type" [(ngModel)]="paymentType" value="online" class="radio-btn">
                <img class="icon" src="assets/images/icn_card.png">
                <label class="text">Credit/Debit Card</label>
            </div>
        </div>
    </div>
    <span *ngIf="!(paymentType === 'cod')">
        <span *ngIf="!cardlist">
            <div class="add-new-card">
                <label class="heading-text">Enter Credit/Debit card details</label>
                <form class="d-flex flex-column form">
                    <mat-form-field class="text-box">
                        <mat-label>Card number</mat-label>
                        <input type="text" matInput placeholder="Card number" name="cardno"
                            [(ngModel)]="cardNumber.value"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        <img class="visa-icon" src="assets/images/icn_visa.png">
                        <mat-hint *ngIf="cardNumber.error" class="error1">{{cardNumber.error}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="text-box">
                        <mat-label>Name on card</mat-label>
                        <input class="text-box-padding" type="text" matInput placeholder="Card number" name="name"
                            [(ngModel)]="name.value">
                        <mat-hint *ngIf="name.error" class="error1">{{name.error}}</mat-hint>
                    </mat-form-field>

                    <div class="d-flex bottom-text-box">
                        <mat-form-field class="text-box-mini">
                            <mat-label>Expiry</mat-label>
                            <input class="text-box-padding" type="text" matInput placeholder="MM" name="expiryMonth"
                                [(ngModel)]="expiryMonth.value">
                            <mat-hint *ngIf="expiryMonth.error" class="error2">{{expiryMonth.error}}</mat-hint>
                        </mat-form-field>
                        <label class="dash">/</label>
                        <mat-form-field class="text-box-mini">
                            <input class="text-box-padding" type="text" matInput placeholder="YYYY" name="expiryYear"
                                [(ngModel)]="expiryYear.value">
                            <mat-hint *ngIf="expiryYear.error" class="error2">{{expiryYear.error}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="text-box-medium">
                            <mat-label>Security code</mat-label>
                            <input class="text-box-padding" type="text" matInput placeholder="Card number" name="cvv"
                                [(ngModel)]="cvv.value">
                            <mat-hint *ngIf="cvv.error" class="error1">{{cvv.error}}</mat-hint>
                        </mat-form-field>
                    </div>
                </form>
                <div>
                    <input type="radio" [(ngModel)]="saveCard" value="save" class="save-radio-button">
                    <label class="save-card-text">Add this card to saved cards</label>
                </div>
            </div>
        </span>
        <span *ngIf="cardlist">
            <div class="cards">
                <div class="d-flex card-top">
                    <label class="heading-text">My Card</label>
                    <button class="add-new-button" (click)="openDialog('addNewCard')">ADD NEW</button>
                </div>
                <div class="d-flex existing-cards flex-wrap">
                    <div class="d-flex flex-column user-card" *ngFor="let card of cardlist"
                        (click)="chooseCard(card.user_card_id)">
                        <div class="d-flex card-image">
                            <img src="assets/images/icn_visa_bg_white.png">
                            <img *ngIf="(cardId===card.user_card_id) || (card.primary_card && cardId === 0)" class="tick-icon" src="assets/images/icn_check.png">
                        </div>
                        <label class="card-number">{{card.card_number.toString().substring(0,2)}}XX XXXX XXXX
                            {{card.card_number.toString().substring(12,16)}}</label>
                        <div>
                            <label class="card-text">{{card.name_on_card}}</label>
                            <label class="card-text">Expiry: {{card.expiry_month}}/{{card.expiry_year}}</label>
                        </div>
                        <div>
                            <mat-form-field class="security-code" color="accent-white">
                                <input class="text-box" type="text" matInput placeholder="Enter CVV">
                            </mat-form-field>
                            <mat-hint *ngIf="cvv.error" class="error1">Error</mat-hint>
                            <img class="info-icon" src="assets/images/icn_info_small.png">
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </span>
    <div class="d-flex user-credits">
        <div class="d-flex credits-left">
            <label class="left-text">Your credits</label>
            <div class="divider"></div>
            <div class="d-flex flex-column">
                <label class="credits">234</label>
                <label class="amount">Rs.250</label>
            </div>
        </div>
        <div class="credits-right">
            <img class="check-img" src="../../assets/images/icn_check.png">
            <label class="redeem-text">Redeem it now</label>
        </div>
    </div>
    <div class="details-delivery">
        <label class="heading-text">Delivery Details</label>
        <div class="border delivery-card">
            <div class="row">
                <label class="sub-heading-text">Delivery Location</label>
                <div class="d-flex bottom-text">
                    <label class="info-text">{{adress}}</label>
                    <label (click)="changeAdress()" class="change-text">Change</label>
                </div>
            </div>
            <div class="border divider"></div>
            <div class="row">
                <label class="sub-heading-text">Date & Time</label>
                <div class="d-flex bottom-text">
                    <label class="info-text">Today @ 11.30</label>
                    <label class="change-text">Change</label>
                </div>
            </div>
        </div>
    </div>
    <div class="items-in-order">
        <label class="heading-text">Items in your order from</label>
        <div class="d-flex order-card" (click)="getDetails()" data-bs-toggle="modal"
            data-bs-target="#orderDetailsModal">
            <div class="d-flex flex-column">
                <label class="restuarant-name">{{restaurantName}}</label>
                <label class="address">{{restaurantAdress}}</label>
            </div>
            <div>
                <img class="arrow-img" src="assets/images/icn_right_arrow.png">
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="order-details">
                    <div class="d-flex order-details-heading">
                        <label class="text">Order Details</label>
                        <button type="button" class="btn-close btn-close-position" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="details-items">
                        <label class="card-heading-text">Items</label>
                        <div class="d-flex flex-column border item-card">
                            <div class="border-bottom card-template" *ngFor="let item of cartList">
                                <div class="card-top">
                                    <img *ngIf="item.category === 'vegetarian'" src="assets/images/icn_veg.png" />
                                    <img *ngIf="item.category === 'non vegetarian'"
                                        src="assets/images/icn_non_veg.png" />
                                    <label class="meal-name">{{item.item_name}}</label>
                                </div>
                                <div class="d-flex card-bottom">
                                    <div class="d-flex flex-column bottom-details">
                                        <label class="cost">Rs.{{item.price}}</label>
                                        <label class="add-on">Add On : Avacado, Seasoned Grilled Chicken, Grilled
                                            Salmon</label>
                                        <label class="quantity">Quantity : {{item.quantity}}</label>
                                    </div>
                                    <div class="d-flex flex-column bottom-meal-cost">
                                        <label class="total-cost">Rs.{{item.menu_price}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="details-amount">
                        <label class="card-heading-text">Amount</label>
                        <div class="border details-amount-card">
                            <div class="d-flex border-bottom card-amount-details">
                                <div class="row text-left">
                                    <label class="paid-text">Paid</label>
                                    <label class="sub-text">Items total</label>
                                    <label class="sub-text">Fees/ Charges</label>
                                    <label class="sub-text">Discount</label>
                                </div>
                                <div class="row text-right">
                                    <label class="total-amount-text">INR {{totalAmount-disCountAmount}}</label>
                                    <label class="sub-text">INR {{totalAmount}}</label>
                                    <label class="sub-text">INR {{00}}</label>
                                    <label class="sub-text">INR {{disCountAmount}}</label>
                                </div>
                            </div>
                            <div class="d-flex card-payment-mode">
                                <label class="payment-mode-text">Payment Mode</label>
                                <label class="payment-type">Credit/Debit Card</label>
                            </div>
                        </div>
                    </div>
                    <div class="details-delivery">
                        <label class="card-heading-text">Delivery Details</label>
                        <div class="border delivery-card">
                            <div class="row">
                                <label class="heading-text">Delivery Location</label>
                                <label class="info-text">{{adress}}</label>
                            </div>
                            <div class="border divider"></div>
                            <div class="row">
                                <label class="heading-text">Date & Time</label>
                                <label class="info-text">Today @ 11.30</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>