<div class="offer-header">Offers</div>
<div class="options">
    <div class="reffer-code">
        <input type="radio" name="light" [(ngModel)]="toggleFormField" value="promo-code" checked>
        <span class="text">Add your referral code</span>
        <div *ngIf="toggleFormField === 'promo-code'" class="cooking-instructions">
            <label class="cooking-instructions-text">Add your Promo code</label><br>
            <span class="apply-text">Apply</span>
            <input class="cooking-instructions-textbox border-none code-input" type="text" placeholder="XXXXXXXX"><br>
            <span class="hint-text">COD option will not available for this offer.</span>
        </div>
    </div>
    <div class="offer-field">
        <input type="radio" name="light" [(ngModel)]="toggleFormField" value="offer-code">
        <span class="text">Best Offers</span>
        <div *ngIf="toggleFormField === 'offer-code'" class="offer-cards">
            <span class="apply-text" routerLink="/offers/{{restaurantId}}">View All Offers</span>
            <div class="brand-image-container w-sm-100" *ngFor="let item of dealsOffers.slice(0,4); let i = index;">
                <span (click)="displayImage(i)" [hidden]="!(offerCardNo === i)">
                    <img src="{{item.offer.offerImagePath}}" class="brand-image" />
                    <img class="apply-code" src="assets/images/apply-code.png" />
                    <div class="offer-title">
                        <span class="title">
                            Flat {{item.offer.offerPercent}}% off
                            <span class="offer-text">{{item.offer.code}}</span>
                        </span>
                        <ul class="offer-details">
                            <li>Get flat {{item.offer.offerPercent}}% Off</li>
                            <li>Max discount AED10</li>
                            <li>Valid for 10days</li>
                        </ul>
                    </div>
                </span>
            </div>
            <div class="select-dots d-flex align-items-center justify-content-center">
                <span *ngIf="dealsOffers.length>0" (click)="showOfferCard(0)"
                    [ngClass]="offerCardNo===0?'active':''">&bull;</span>
                <span *ngIf="dealsOffers.length>1" (click)="showOfferCard(1)"
                    [ngClass]="offerCardNo===1?'active':''">&bull;</span>
                <span *ngIf="dealsOffers.length>2" (click)="showOfferCard(2)"
                    [ngClass]="offerCardNo===2?'active':''">&bull;</span>
            </div>
        </div>
    </div>
</div>
<div class="payment" [ngClass]="toggleFormField === 'offer-code'?'payment-card':''">
    <div class="d-flex flex-row payment-header">
        <label>To Pay</label>
        <div class="d-flex flex-row header-price">
            <label>INR{{totalAmmount - discountAmmount}}.00</label>
        </div>
    </div>
    <div class="d-flex flex-column payment-details">
        <div class="d-flex flex-row item">
            <label class="text">Items total</label>
            <label class="text">INR{{totalAmmount}}.00</label>
        </div>
        <div class="d-flex flex-row item">
            <label class="text">Fee/charges</label>
            <label class="text">INR0.00</label>
        </div>
        <div class="d-flex flex-row item">
            <label class="text">Discount</label>
            <label class="text">INR{{discountAmmount}}.00</label>
        </div>
    </div>
</div>

<div *ngIf="isOpen" class="screen">
    <div class="dialog">
        <button class="close" mat-button mat-dialog-close>
            <img class="close" (click)="close()" src="assets/images/dismiss_button_white.png" alt="">
        </button>
        <p class="title">{{popoverData.offer.offerTitle}}</p>
        <p class="code">{{popoverData.offer.code}}</p>
        <img class="image" [src]="popoverData.offer.offerImagePath" alt="">
        <div class="box1">
            <p class="heading1">Offer Details</p>
            <ul>
                <li class="details">Get {{popoverData.offer.offerPercent}}% Off</li>
                <li class="details">Offer valid till {{popoverData.end_date[2]}}, {{monthShort[popoverData.end_date[1]-1]}}</li>
            </ul>
        </div>
        <div class="box2">
            <p class="heading2">Delivering food to</p>
            <div class="addressBox">
                <img src="assets/images/icn_pin.png" alt="">
                <p class="address">{{adress}}</p>
            </div>
        </div>
        <div class="box3">
            <p class="heading3">Offer applicable nearby outlets</p>
            <div class="outlet" *ngFor="let item of outlets">
                <p class="outletName">{{item.outletName}}</p>
                <p class="outletAddress">{{item.outletAddress}}</p>
            </div>
        </div>
        <div class="box4">
            <button (click)="applyOfferCode(popoverData.offer.code, orderId)" class="applyButton">APPLY</button>
        </div>
    </div>
    <div class="rectangle">
        <button class="fa fa-angle-left leftArrow" id="left" (click)="leftArrow()"></button>
        <button class="fa fa-angle-right rightArrow" id="right" (click)="rightArrow()"></button>
    </div>
</div>