<div class="box">
  <div class="downloadSection">
    <div class="rectangle">
      <div class="downloadMessage">
        <p class="text">Food is for eating & good food is to be enjoyed.<br>Download the app today!</p>
      </div>
      <div class="buttons">
        <div class="button1">
          <img src="../../../assets/images/Button - App Store.png" alt="">
        </div>
        <div class="button2">
          <img src="../../../assets/images/Button - Play Store.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="imageContainer">
      <p class="quote">"A healthy outside<br>
        starts from the inside."</p>
      <p class="robertUrich">Robert Urich</p>
    </div>
    <p class="whoWeAre">Who we are</p>
    <p class="message">We are an online ordering service and our aim is to become the best delivery service platform for
      our users by diversifying our services portfolio and providing best-in-class customer experience.<br>
      Our online food ordering portal helps you find restaurants in your area, filter by cuisine/time/price, browse
      menus and place orders via multiple payment options. Our delivery platform ensures that you receive your order in
      shortest possible time, can track your order and interact with our awesome support folks in case of any query.</p>
    <p class="howWeWork">How we work</p>

    <div class="block">
      <div class="shop">
        <div class="left">
          <img class="image1" src="../../../assets/images/shop.png" alt="">
          <p class="text1">Explore restaurants that deliver to your doorstep.</p>
        </div>
        <div class="middle">
          <img class="image2" src="../../../assets/images/burger.png" alt="">
          <p class="text2">Browse menus and build your order in seconds.</p>
        </div>
        <div class="right">
          <img class="image3" src="../../../assets/images/shopping-cart (3).png" alt="">
          <p class="text3">Follow the status of your order with real-time alerts.</p>
        </div>
      </div>
      <div class="path">
        <img class="image4" src="../../../assets/images/Path 2.png" alt="">
        <img class="image5" src="../../../assets/images/Path 2 (1).png" alt="">
      </div>
    </div>
  </div>
</div>
