@import '../../../../variables.scss';

.navbar {
    a {
        font-size: 0.8em;
        color: $naveBarFontColor;
        letter-spacing: 0.5px;
    }

    .nav-item {
        margin-right: 0.8em;
    }

    .cart-place {
        border-left: 0.1em solid $naveBarBorderColor;
        padding-left: 1.2em;
    }
}

.navbar-inverse {
    background-color: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

    .navbar-brand {
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
        letter-spacing: 0;
        line-height: 43px;
        text-align: center;
        margin-left: 1em;
        background: $textGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

.navbar-style {
    padding-top: 1.5em;

    .navbar-brand {
        font-size: 3em;
    }

    .navbar-brand {
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
        letter-spacing: 0;
        line-height: 43px;
        text-align: center;
        margin-left: 1em;
        background: $textGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.before-scroll {
    .cart-icon-top {
        position: relative;
        box-sizing: border-box;
        height: 10px;
        width: 11px;
        border: 2px solid $white;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        top: 2.8px;
        left: 4px;
    }

    .cart-icon-body {
        box-sizing: border-box;
        height: 16px;
        width: 18px;
        border-radius: 3px;
        border: 2px solid $white;

        // background: linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);
        .cart-count {
            font-size: 0.6em;
            font-weight: bold;
        }
    }

    .cart-text {
        color: $white;
        margin-left: 1em;
        margin-right: 1.2em;
    }
}

.after-scroll {
    .cart-icon-top {
        position: relative;
        box-sizing: border-box;
        height: 10px;
        width: 11px;
        border: 2px solid #F3698E;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        top: 3px;
        left: 4px;
    }

    .cart-icon-body {
        box-sizing: border-box;
        height: 16px;
        width: 18px;
        border-radius: 3px;
        border: 2px solid $darkPink;
        background: $rightFillGradient;

        .cart-count {
            font-size: 0.6em;
            font-weight: bold;
        }
    }

    .cart-text {
        color: $darkPink
    }
}

.language-font {
    a {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background: $rightFillGradient;
    }
}