<nav class="navbar navbar-expand-lg fixed-top navbar-inverse" (scroll)="onWindowScroll($event)">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRAVE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon class="clock-icon">menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown  language-font">
          <a i18n class="nav-link dropdown-toggle language-font" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            English
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://localhost:4200/kn/">ಕನ್ನಡ</a>
            <a class="dropdown-item" href="http://localhost:4200/en-US/">English</a>
          </div>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" (click)="openDialog('login')" i18n>LOGIN</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" (click)="openDialog('register')" i18n>CREATE AN ACCOUNT</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn">
          <span class="d-flex" (click)="gotoProfile()">
            <div class="profile-placeholder-container d-flex align-items-center justify-content-center">
              <img src="assets/images/profile.svg" class="profile-placeholder" />
            </div>
            <a class="nav-link username-text">{{ userName }}</a>
          </span>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link " (click)="logout()" i18n>LOGOUT</a>
        </li>

        <li (click)="gotoCart()" class="nav-item cart-place d-flex align-items-start justify-content-center after-scroll">
          <div>
            <div class="cart-icon-top">
            </div>
            <div class="cart-icon-body d-flex align-items-center justify-content-center text-light">
              <span class="cart-count">{{cartCount}}</span>
            </div>
          </div>
          <a class="pl-4 nav-link cart-text" i18n>CART</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
