<h3>Description</h3>
<label class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet ante at risus mollis,
    ut rutrum arcu venenatis. Class aptent taciti litora torquent per conubia nostra, per inceptos himenaeos. Etiam nec
    erat suscipit, pretium quam eget, condimentum enim. </label>
<div class="details row">
    <div class="Meal col-md-3">
        <h3> Cuisines</h3>
        <label class="cuisine">Indian, Pakistani, Kebab<br>Mexican, Mordovian<br>Mughal,Native American<br>Nepalese, New
            Mexican</label>
    </div>
    <div class="Meal col-md-2">
        <h3>Average meal cost</h3>
        <label>
            INR200 FOR TWO(APPROX)
        </label>
    </div>
    <div class="Meal col-md-2">
        <h3>Accepted Payment</h3>
        <label>
            Cash and Cards accepted
        </label>
    </div>
    <div class="Meal col-md-2">
        <h3>Phone</h3>
        <label>
            0824 4024999<br>
            0824 3456790
        </label>
    </div>
    <div class="Meal col-md-2">
        <h3>Address</h3>
        <label>
            SHIEKH ZAYED ROAD,DUBAI,UAE
        </label>
    </div>
</div>
<div class="bottom row">
    <div class="open col-12 col-md-5">
        <h3>Opening hours</h3>
        <div class="card">
            <div class="date">Today, 25 December 2018</div>
            <div class="open">OPEN</div>
            <label class="time">10:00:00 AM - 3:00:00 PM</label>
            <label class="time1">5:30:00 PM -11:00:00 PM</label>
            <label class="off">Planned off: 3:00 PM - 5:30PM</label>
            <div class="line"></div>
            <label class="work">Work hours for the day</label>
        </div>
    </div>
    <div class="directions col-12 col-md-6">
        <h3>Get Direction</h3>
        <div id="map" class="map"></div>
    </div>
</div>