<h3>Description</h3>
<label class="description">{{description}} </label>
<div class="details row">
    <div class="Meal col-md-3">
        <h3> Cuisines</h3>
        <div *ngFor="let item of cuisines" class="cuisine">
              <div> {{item}} </div>
        </div>
    </div>
    <div class="Meal col-md-2">
        <h3>Average meal cost</h3>
        <label>
           INR {{cost}} APPOX FOR TWO
        </label>
    </div>
    <div class="Meal col-md-2">
        <h3>Accepted Payment</h3>
        <label>
            Cash and Cards accepted
        </label>
    </div>
    <div class="Meal col-md-2">
        <h3>Phone</h3>
        <label>
         {{phone}}
        </label>
    </div>
    <div class="Meal col-md-2">
        <h3>Address</h3>
        <label>
            {{address}}
        </label>
    </div>
</div>
<div class="bottom row">
    <div class="open col-12 col-md-5">
        <h3>Opening hours</h3>
        <div class="card">
            <div class="date">Today, 25 December 2018</div>
            <div class="open">OPEN</div>
            <label class="time">{{openTime[0]+":"+openTime[1]+openTime[1]+"-"+closeTime[0]+":"+closeTime[1]+closeTime[1]}}</label>
       
            <label class="off">Planned off: 3:00 PM - 5:30PM</label>
            <div class="line"></div>
            <label class="work">Work hours for the day</label>
        </div>
    </div>
    <div class="directions col-12 col-md-6">
        <h3>Get Direction</h3>
        <div id="map" class="map"></div>
    </div>
</div>