<app-nav-bar pageName="restaurant"></app-nav-bar>
<app-top-search-bar pageName="restaurant"></app-top-search-bar>
<app-breadcrumbs pageName="restaurant-list"></app-breadcrumbs>
<div class="container-fluid">
    <div class="main-container">
        <div class="row">
            <div class="col-1 col-xl-2"></div>
            <div class="col-10 col-xl-8">
                <div class="row">
                    <div class="col-12 col-md-4 filter">
                        <app-restaurant-list-filter></app-restaurant-list-filter>
                    </div>
                    <div class="col-12 col-md-8 restaurant-list">
                        <app-restaurant-list-options></app-restaurant-list-options>
                    </div>
                </div>
            </div>
            <div class="col-1 col-xl-2 "></div>
        </div>
    </div>
</div>