<app-nav-bar pageName="restaurant"></app-nav-bar>
<app-top-search-bar pageName="restaurant"></app-top-search-bar>
<app-breadcrumbs pageName="restaurant-list"></app-breadcrumbs>
<div class="container-fluid">
    <div class="main-container">
        <div class="row">
            <div class="col-0 col-lg-3"></div>

            <div class="col-12 col-lg-7 row">
                <div class="col-12 col-md-3 filter">
                    <app-restaurant-list-filter></app-restaurant-list-filter>
                </div>
                <div class="col-12 col-md-8 restaurant-list">
                    <div>
                        <app-restaurant-list-options></app-restaurant-list-options>
                    </div>
                </div>
            </div>

            <div class="col-0 col-lg-3"></div>
        </div>

    </div>
</div>