<div class="options">
    <label class="option-text" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Active Orders
    </label>
    <img class="collapse-img" src="assets/images/icn_collapse.png">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item line">Active Orders</a></li>
        <li><a class="dropdown-item line">Past Orders</a></li>
        <li><a class="dropdown-item">Cancelled Orders</a></li>
    </ul>
</div>
<div class="d-flex flex-wrap user-orders">
    <div class="orders-card">
        <div class="d-flex card-details ">
            <div class="d-flex flex-column details-left">
                <label class="order-id">Order id: 1234567890</label>
                <label class="restaurant-name">The Boutique Kitchen</label>
                <label class="restaurant-address">Shiekh Zayed Road, , Dubai, UAE</label>
                <div class="d-flex items-count-and-cost">
                    <label class="text">3 Items</label>
                    <div class="border"></div>
                    <label class="text">Rs. 500</label>
                </div>
            </div>
            <label class="status">Out for Delivery</label>
        </div>
        <div class="d-flex card-buttons">
            <button class="details-button" data-bs-toggle="modal" data-bs-target="#orderDetailsModal">DETAILS</button>
            <button class="status-button">STATUS</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="order-details">
                    <div class="d-flex order-details-heading">
                        <label class="text">Order Details</label>
                        <button type="button" class="btn-close btn-close-position" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="details-items">
                        <label class="card-heading-text">Items</label>
                        <div class="d-flex flex-column border item-card">
                            <div class="border-bottom card-template">
                                <div class="card-top">
                                    <img src="assets/images/icn_non_veg.png">
                                    <label class="meal-name">Chili Cheese Meal</label>
                                </div>
                                <div class="d-flex card-bottom">
                                    <div class="d-flex flex-column bottom-details">
                                        <label class="cost">INR 100.00</label>
                                        <label class="add-on">Add On : Avacado, Seasoned Grilled Chicken, Grilled
                                            Salmon</label>
                                        <label class="quantity">Quantity : 1</label>
                                    </div>
                                    <div class="d-flex flex-column bottom-meal-cost">
                                        <label class="total-cost">INR 100.00</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="details-amount">
                        <label class="card-heading-text">Amount</label>
                        <div class="border details-amount-card">
                            <div class="d-flex border-bottom card-amount-details">
                                <div class="row text-left">
                                    <label class="paid-text">Paid</label>
                                    <label class="sub-text">Items total</label>
                                    <label class="sub-text">Fees/ Charges</label>
                                    <label class="sub-text">Discount</label>
                                </div>
                                <div class="row text-right">
                                    <label class="total-amount-text">INR 100</label>
                                    <label class="sub-text">INR 100</label>
                                    <label class="sub-text">INR 100</label>
                                    <label class="sub-text">INR 100</label>
                                </div>
                            </div>
                            <div class="d-flex card-payment-mode">
                                <label class="payment-mode-text">Payment Mode</label>
                                <label class="payment-type">Credit/Debit Card</label>
                            </div>
                        </div>
                    </div>
                    <div class="details-delivery">
                        <label class="card-heading-text">Delivery Details</label>
                        <div class="border delivery-card">
                            <div class="row">
                                <label class="heading-text">Delivery Location</label>
                                <label class="info-text">Downtown Burj Khalifa, Dubai, UAE</label>
                            </div>
                            <div class="border divider"></div>
                            <div class="row">
                                <label class="heading-text">Date & Time</label>
                                <label class="info-text">Today @ 11.30</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column rating">
                        <label class="card-heading-text">Rate your Delivery</label>
                        <div class="d-flex flex-row select-rating">
                           
                            <div class="d-flex star grey-color" id="1" (click)="changeStarColor(1)">
                                <label class="star-count-text">&#9733; 1</label>
                            </div>
                            <div class="d-flex star grey-color" id="2" (click)="changeStarColor(2)">
                                <label class="star-count-text">&#9733; 2</label>
                            </div>
                            <div class="d-flex star grey-color" id="3" (click)="changeStarColor(3)">
                                <label class="star-count-text">&#9733; 3</label>
                            </div>
                            <div class="d-flex star grey-color" id="4" (click)="changeStarColor(4)">
                                <label class="star-count-text">&#9733; 4</label>
                            </div>
                            <div class="d-flex star grey-color" id="5" (click)="changeStarColor(5)">
                                <label class="star-count-text">&#9733; 5</label>
                            </div>
                        </div>
                        <form class="d-flex flex-column form">
                            <mat-form-field class="text-box">
                                <mat-label class="input-label">Write a review</mat-label>
                                <input matInput placeholder="Start writing your review" class="input-placeholder">
                            </mat-form-field>
                        </form>
                        <div class="d-flex submit-btn">
                            <button class="btn">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>