<div class="options">
    <label class="option-text" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false"
         >Active Orders
    </label>
    <img class="collapse-img" src="../../../../../assets/images/icn_collapse.png">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item line">Active Orders</a></li>
        <li><a class="dropdown-item line">Past Orders</a></li>
        <li><a class="dropdown-item">Cancelled Orders</a></li>
    </ul>
</div>
<div class="d-flex flex-wrap user-orders">
    <div class="orders-card">
        <div class="d-flex card-details ">
            <div class="d-flex flex-column details-left">
                <label class="order-id">Order id: 1234567890</label>
                <label class="restaurant-name">The Boutique Kitchen</label>
                <label class="restaurant-address">Shiekh Zayed Road, , Dubai, UAE</label>
                <div class="d-flex items-count-and-cost">
                    <label class="text">3 Items</label>
                    <div class="border"></div>
                    <label class="text">Rs. 500</label>
                </div>
            </div>
            <label class="status">Out for Delivery</label>
        </div>
        <div class="d-flex card-buttons"> 
            <button class="details-button">DETAILS</button>
            <button class="status-button">STATUS</button>
        </div>
    </div>
    <div class="orders-card">
        <div class="d-flex card-details ">
            <div class="d-flex flex-column details-left">
                <label class="order-id">Order id: 1234567890</label>
                <label class="restaurant-name">The Boutique Kitchen</label>
                <label class="restaurant-address">Shiekh Zayed Road, , Dubai, UAE</label>
                <div class="d-flex items-count-and-cost">
                    <label class="text">3 Items</label>
                    <div class="border"></div>
                    <label class="text">Rs. 500</label>
                </div>
            </div>
            <label class="status">Out for Delivery</label>
        </div>
        <div class="d-flex card-buttons"> 
            <button class="details-button">DETAILS</button>
            <button class="status-button">STATUS</button>
        </div>
    </div>
    <div class="orders-card">
        <div class="d-flex card-details ">
            <div class="d-flex flex-column details-left">
                <label class="order-id">Order id: 1234567890</label>
                <label class="restaurant-name">The Boutique Kitchen</label>
                <label class="restaurant-address">Shiekh Zayed Road, , Dubai, UAE</label>
                <div class="d-flex items-count-and-cost">
                    <label class="text">3 Items</label>
                    <div class="border"></div>
                    <label class="text">Rs. 500</label>
                </div>
            </div>
            <label class="status">Out for Delivery</label>
        </div>
        <div class="d-flex card-buttons"> 
            <button class="details-button">DETAILS</button>
            <button class="status-button">STATUS</button>
        </div>
    </div>
</div>