@import '../../../../../mixin.scss';
@import '../../../../../variables.scss';

.cart-items-container {
    padding-top: 2em;
    margin-left: -3em;
    margin-bottom: 5em;
    @include content-heading-subheading();

    .cart-items-fields {
        width: 98%;
        padding-top: 1em;

        .cart-items {
            background-color: $white;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 6px;

            .item {
                border-bottom: 1px solid $redWhite;
                padding: 16px 20px;

                .item-top {
                    justify-content: space-between;

                    .top-text {
                        .name {
                            color: $lightBlack;
                            font-family: $openSans;
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0;
                            margin-left: 8px;
                        }

                        .price {
                            color: $lightBlack;
                            font-family: $openSans;
                            font-size: 10px;
                            letter-spacing: 0;
                        }
                    }

                    @include cart-buttons();
                }

                .item-bottom {
                    .bottom-left {
                        justify-content: space-between;

                        .description-text {
                            color: $redGray;
                            font-family: $openSans;
                            font-size: 11px;
                            letter-spacing: 0;
                            width: 80%;
                        }

                        .total-price-text {
                            color: $lightBlack;
                            font-family: $openSans;
                            font-size: 10px;
                            font-weight: 600;
                            letter-spacing: 0;
                            text-align: center;
                            margin-top: -0.8em;
                        }
                    }

                    .bottom-right {
                        justify-content: space-between;
                        @include remove-text();
                    }
                }
            }

            .cooking-instructions {
                margin: 0px 20px;
                padding-top: 1em;
                @include coocking-instrauctions(18px);
            }

            .buttons-field {
                display: flex;
                justify-content: flex-end;
                padding: 1.5em;
                @include outlet-btn();
                @include gradient-btn()
            }
        }


        .offers-payment-field {
            border-radius: 6px;
            background-color: $white;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            padding: 1em;
            height: fit-content;

        }
    }
}

@media only screen and (max-width: 999px) {
    .cart-items-container {
        width: 100%;
        padding-left: 4em;
        margin-top: 2em;
    }
}