<app-progress-bar></app-progress-bar>

<div class="cart-items-container">
    <div class="heading">
        <p *ngIf="formType==='cartItems'">{{restaurantName}}</p>
        <p *ngIf="formType==='chooseAdress'">Choose Address</p>
        <p *ngIf="formType==='choosePaymentMethod'">Payment</p>
    </div>
    <div *ngIf="formType==='cartItems'" class="sub-heading">
        <p>Estimated Delivery time - {{deliveryTime}} - {{deliveryTime+10}} min</p>
    </div>
    <div class="cart-items-fields row">
        <div class="col-12 col-lg-8">
            <div class="d-flex flex-column cart-items">
                <span *ngIf="formType==='cartItems'">
                    <div class="d-flex flex-column item" *ngFor="let item of cartList">
                        <div class="d-flex flex-row item-top">
                            <div class="top-text">
                                <div>
                                    <img *ngIf="item.category === 'vegetarian'" class="categoury-img"
                                        src="assets/images/icn_veg.png" />
                                    <img *ngIf="item.category === 'non vegetarian'" class="categoury-img"
                                        src="assets/images/icn_non_veg.png" />
                                    <label class="name">{{item.item_name}}</label>
                                </div>
                                <label class="price">INR{{item.price}}</label>
                            </div>
                            <div class="d-flex flex-row top-buttons">
                                <label class="text" [ngClass]="item.quantity<=1?'disable-action-text':'orange-text'"
                                (click)="addTocartAgain(item.restaurant_id, item.menu_id, -1)">-</label>
                                <label class="text orange-text">{{item.quantity}}</label>
                                <label class="text orange-text" (click)="addTocartAgain(item.restaurant_id, item.menu_id, 1)">+</label>
                            </div>
                        </div>
                        <div class="d-flex flex-column item-bottom">
                            <div class="d-flex flex-row bottom-left">
                                <label class="description-text">Add On : Avacado, Seasoned Grilled Chicken, Grilled
                                    Salmon</label>
                                <label class="total-price-text">INR{{item.menu_price}}</label>
                            </div>
                            <div class="d-flex flex-end bottom-right">
                                <!-- <label class="customize-text">Customize</label> -->
                                <label class="remove-text" (click)="removeItem(item.menu_id)">Remove</label>
                            </div>
                        </div>
                    </div>
                    <div class="cooking-instructions">
                        <label class="cooking-instructions-text">Cooking instructions?</label><br>
                        <input class="cooking-instructions-textbox border-none" type="text"
                            placeholder="Mention it here…"><br>
                    </div>
                </span>
                <div *ngIf="formType==='cartItems'" class="buttons-field">
                    <div class="add-btn" (click)="notify.emit()"><span class="btn-text">BACK</span></div>
                    <div (click)="showFormsType('chooseAdress')" class="choose-btn">CHOOSE ADDRESS</div>
                </div>
                <span *ngIf="formType==='chooseAdress'">
                    <app-choose-adress #child1></app-choose-adress>
                    <div class="buttons-field">
                        <div (click)="showFormsType('cartItems', true)" class="add-btn"><span class="btn-text">BACK</span>
                        </div>
                        <div (click)="child1.submitDetails()" class="choose-btn">CHOOSE PAYMENT</div>
                    </div>
                </span>
                <span *ngIf="formType==='payment-methods'">
                    <app-payment-method #child2></app-payment-method>
                    <div class="buttons-field">
                        <div (click)="showFormsType('chooseAdress', true)" class="add-btn"><span class="btn-text">BACK</span>
                        </div>
                        <div class="choose-btn">PAY NOW</div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4 mt-lg-0 offers-payment-field">
            <app-payment-right-bar [totalAmmount]="totalAmmount" [discountAmmount]="discountAmmount" [toPayAmmount]="toPayAmmount"></app-payment-right-bar>
        </div>
    </div>
</div>