<div class="restaurant-list">
    <div class="d-flex flex-row justify-content-end filter-options">
        <div class="options">
            <label class="heading-text">List by :</label>
            <label class="option-text" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">All</label>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#">A-Z</a></li>
              <li><a class="dropdown-item" href="#">Z-A</a></li>
            </ul>
          </div>
          <div class="options">
            <label class="heading-text">Sort by :</label>
            <label class="option-text" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Ratings</label>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Rating High to Low</a></li>
              <li><a class="dropdown-item" href="#">Rating Low to High</a></li>
              <li><a class="dropdown-item" href="#">Avg. meal cost High</a></li>
              <li><a class="dropdown-item" href="#">Avg. meal cost Low</a></li>
            </ul>
          </div>
    </div>
    <div class="d-flex flex-row restaurant-card">
        <div class="card-image">
            <img src="../assets/icn_restaurant.png">
        </div>
        <div class="d-flex flex-column card-content">
            <div class="d-flex flex-row justify-content-between content-header">
                <label class="restaurant-name-text">The Boutique Kitchen</label>
                <div class="ratings">
                    <label class="ratings-text">3.8</label>
                </div>
            </div>
            <div class="d-flex flex-column content-middle">
                <label class="subtitle-text">Shiekh Zayed Road, Dubai, UAE</label>
                <div class="divider"></div>
                <label class="subtitle-text">Indian, Pakistani, Kebab</label>
            </div>
            <div class="d-flex flex-row justify-content-between content-bottom">
                <div class="content-bottom-text">
                   <!--- <label [ngClass]="{'status-text':true,'text-color-green':0===0,'text-color-red':1===0}">Open Now</label>-->
                    <!-- <label [ngClass]="{'status-text':true,'text-color-green':0===0,'text-color-red':1===0}">Open Now</label> -->
                    <div>
                        <li class="list-item">63 mins</li>
                        <li class="list-item">AED40 min order</li>
                        <li class="list-item">AED60 avg meal cost</li>
                    </div>
                </div>
                <div class="menu-button">
                    <img src="../assets/images/icn_menu_button.png">
                </div>
            </div>
        </div>
    </div>
</div>