@import '../../../../../mixin.scss';
@import '../../../../../variables.scss';

.restaurant-list {
  padding: 8px 0px;
  margin-bottom: 4em;
  // margin-left: 100px;

  .filter-options {
    width: 100%;

    .options {
      padding: 16px 0px 16px 0px;
      cursor: pointer;

      .heading-text {
        color: $headerText;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0;
        padding: 0px 16px;
      }

      .option-text {
        color: #FCA100;
        font-family: "Open Sans";
        font-size: 12px;
        letter-spacing: 0;
        margin-left: -10px;
      }

      .text-margin {
        margin-right: 1em;
      }

      .arrow-icon {
        font-size: 1.2em;
        color: #FCA100;
        font-family: "Open Sans";
      }

      .dropdown-item {
        color: $headerText;
        font-size: 10px;

        &:active {
          background: $rightFillGradient;
        }
      }
    }
  }

  .restaurant-card {
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;

    .card-image {
      padding: 10px 5px 10px 8px;

      .img {
        width: 9em;
        height: 9em;
        border-radius: 4px;
      }
    }

    .card-content {
      width: 100%;
      padding: 10px 8px 6px 10px;

      .content-header {
        .restaurant-name-text {
          color: $headerText;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 20px;
          padding-top: 6px;
        }

        .ratings {
          
          .rating-text {
            color: #FFFFFF;
            font-family: "Open Sans";
            font-size: 11px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 18px;
            text-align: center;
            padding: 1px 7px;
            border-radius: 4px;
          }

          .ratings-text-1 {
            background-color: #5FB700;
          }
          .ratings-text-2 {
            background-color: #F5A623;
          }
          .ratings-text-3 {
            background-color: $red;
          }

        }
      }

      .content-middle {
        .subtitle-text {
          margin-top: 0.5em;
          @include subtitle-text();
        }

        .divider {
          border-bottom: 1px solid #979797;
          opacity: 0.19;
          padding-top: 12px;
        }
      }

      .content-bottom {
        .content-bottom-text {
          margin-top: 0.2em;
          width: 100%;

          .status-text {
            font-family: "Open Sans";
            font-size: 0.7em;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 1px;
            padding: 15px 0px;
          }

          .text-color-green {
            color: #5FB700;
          }

          .text-color-red {
            color: #FF0000;
          }

          .list-item {
            float: left;
            color: #757575;
            font-family: "Open Sans";
            font-size: 0.7em;
            letter-spacing: 0;
            line-height: 10px;
            padding-right: 0px;
            margin-bottom: 0.5em;
          }

          .text {
            color: #757575;
            font-family: "Open Sans";
            font-size: 12px;
            letter-spacing: 0;
            line-height: 0px;
          }
        }

        .menu-button {
          outline: none;
          padding-top: 15px;

          .menu-btn-img {
            width: 100%;
            float: right;
          }
        }
      }
    }
  }
  .load-more-text {
    cursor: pointer;
  }
}

// compateDate(item.open_time, item.close_time)