<div class="left">
  <div class="topBar">
    <p class="reviews">Reviews</p>
    <div class="sort">
      <p class="show">Show :</p>
      <p class="recent">Recent</p>
      <div class="arrow"></div>
    </div>
  </div>
  <div class="card">
    <div class="rectangle1">
      <div class="nameSection">
        <img class="photo" [src]="" alt="">
        <div class="details">
          <div class="name">
            <p class="firstName">John</p>
            <p class="lastName">Doe</p>
          </div>
          <div class="reviewsAndRatings">
            <p class="reviewNumber">1</p>
            <p class="reviews">Reviews, </p>
            <p class="ratingNumber">1</p>
            <p class="ratings">Ratings</p>
          </div>
          <div class="ratingBox">
            <div class="whiteStar"></div>
            <div class="starNumber">4</div>
          </div>
        </div>
      </div>
    </div>
    <p class="description">Very good</p>
    <div class="rectangle2">
      <p class="date">15, March 2020</p>
      <div class="like" align="right">
        <img class="likeButton" src="../../../../../assets/images/like_inactive.png" alt="">
        <p class="likeNumber">1</p>
      </div>
    </div>
    <div class="rectangle3">
      <img src="../../../../../assets/images/uttapam.jpg" alt="">
    </div>
  </div>
</div>
