<div class="reviews">
  <div class="reviews-card" *ngFor="let item of reviewsList">
    <div class="d-flex details">
      <p class="restuarant-name">{{item.restaurant_name}}</p>
      <div class="ratingBox">
        <img class="whiteStar">
        <div class="starNumber">{{item.food_rating}}</div>
      </div>

    </div>
    <p class="description">{{item.description}}</p>
    <div class="d-flex rectangle">
      <p class="date">{{item.date}}</p>
      <div class="like">
        <img class="likeButton" src="assets/images/like_inactive.png">
        <p class="likeNumber">1</p>
      </div>
    </div>
    <div class="card-images" *ngFor="let img of item.food_images">
      <img src={{img}}>
    </div>
  </div>
</div>