<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="box">
  <div class="rectangle row">
    <div class="rectangle1 col-lg-12 col-md-12 col-sm-12 col-xs-12" align="right">
      <div class="allPhotosButton">
        <p class="buttonText">All Photos</p>
        <img class="arrow" src="../../../../../assets/images/right_arrow.png" alt="">
      </div>
    </div>
    <div class="column col-lg-2 col-md-3 col-sm-4 col-xs-5" *ngFor="let item of menuList">
      <img src="{{ item.menu.item_image_path }}" alt="" (click)="displayImage()">
    </div>
    <div class="rectangle2" align="right">
      <p class="viewMore">View more ></p>
    </div>
  </div>
</div>
