@import '../../../../../mixin.scss';
@import '../../../../../variables.scss';

.box {
  width: 100%;
  margin-left: 0.2%;
  display: block;
  margin-top: -15px;

  .rectangle {
    width: 106%;
    margin-left: 0px;

    .rectangle1 {
      width: 93%;
      padding: 0%;
      margin-bottom: 20px;

      .allPhotosButton {
        height: 35px;
        width: 170px;
        display: flex;
        margin-right: 0%;
        background: #FFFFFF;
        outline: none;
        border: 0px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
        justify-content: center;

        .buttonText {
          color: #4A4A4A;
          font-family: $openSansSemibold;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.1px;
          line-height: 19px;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 0px;
          cursor: pointer;
        }

        .arrow {
          height: 6px;
          width: 9px;
          margin-left: 8px;
          margin-top: auto;
          margin-bottom: auto;
        }

        .dropdown-menu {
          padding: 0%;
          position: unset;

          .dropdown-item {
            color: $darkGray;
            font-family: $openSans;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 0.11px;
            padding: 14px;
            cursor: pointer;
             
            &:active {
              background: $calenderTheme;
            }
          }

          .line {
            border-bottom: 1px solid $grey;
          }
        }
      }
    }

    .column {
      margin-left: -10px;
      justify-content: space-between;

      img {
        width: 96%;
        margin-bottom: 10%;
        border-radius: 4px;
      }
    }

    .rectangle2 {
      width: 95%;
      padding: 0%;
      cursor: pointer;

      .viewMore {
        background: linear-gradient(138.33deg, #fa4878 80%, #FEB456 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $openSansSemibold;
        font-size: 12.5px;
        font-weight: 600;
        letter-spacing: -0.17px;
        line-height: 20px;
        margin-right: 0px;
      }
    }
  }
}

// Overlay

.screen {
  height: 200vh;
  width: 150vw;
  margin-top: -70%;
  margin-left: -30%;
  position: fixed;
  background: black;
  opacity: 0.7;
  z-index: 2000;
}

.box2 {
  height: 112vh;
  width: 70vw;
  margin-top: -85%;
  margin-left: -3%;
  position: relative;
  background: transparent;
  opacity: 1;
  z-index: 2020;
  border: 1px solid transparent;

  .dialog {
    height: 70vh;
    width: 51vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    .selectedImage {
      height: 560px;
      width: 850px;
      border-radius: 6px;
      margin: auto;
      opacity: 1;
    }

    .cancel {
      height: 16px;
      width: 16px;
      position: relative;
      margin-top: -1%;
      margin-left: 850px;
      cursor: pointer;
    }

    .imageDetails {
      height: 10%;
      width: 850px;
      display: flex;
      margin-top: 5px;
      justify-content: space-between;
      border: 2px solid transparent;

      .rectangle2 {
        width: 85%;
        display: flex;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        justify-content: space-between;

        .imageName {
          font-family: $openSansSemibold;
          height: 22px;
          font-size: 20px;
          letter-spacing: 1;
          line-height: 22px;
          text-align: center;
          font-weight: 600;
          color: #FFFFFF;
          margin-top: 0px;
        }

        .count {
          font-family: $openSansSemibold;
          height: 16px;
          font-size: 15px;
          font-weight: 600;
          text-align: center;
          color: #D6D3D3;
          line-height: 16px;
          letter-spacing: 0;
          display: flex;
          text-align: end;
          vertical-align: middle;
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      .rectangle3 {
        width: 13%;
        position: relative;
        z-index: 2020;
        border-radius: 12px;
        background: transparent;
        border: none;

        .leftArrow {
          font-size: 25px;
          height: 100%;
          width: 50%;
          position: relative;
          margin: 0%;
          outline: none;
          border-radius: 8px 0px 0px 8px;
          border: none;
          border-right: 1px solid #cacaca;
          color: #3E3E3E;
        }

        .left {
          font-size: 25px;
          height: 100%;
          width: 50%;
          position: relative;
          margin: 0%;
          outline: none;
          border-radius: 8px 0px 0px 8px;
          border: none;
          border-right: 1px solid #cacaca;
          // pointer-events: none;
          color: #CFCFCF;
        }

        .rightArrow {
          font-size: 25px;
          height: 100%;
          width: 50%;
          position: relative;
          margin: 0%;
          outline: none;
          border-radius: 0px 8px 8px 0px;
          border: none;
          color: #3E3E3E;
        }

        .right {
          font-size: 25px;
          height: 100%;
          width: 50%;
          position: relative;
          margin: 0%;
          outline: none;
          border-radius: 0px 8px 8px 0px;
          border: none;
          // pointer-events: none;
          color: #CFCFCF;
        }
      }
    }
  }
}


@media (min-width: 1200px) and (max-width: 1400px) {

  .screen {
    height: 300vh;
    width: 250vw;
    margin-top: -100%;
    margin-left: -30%;
    position: fixed;
    background: black;
    opacity: 0.7;
    z-index: 2000;
  }

  .box2 {
    height: 650px;
    width: 800px;
    margin-top: -75%;
    margin-left: 4%;
    position: relative;
    background: transparent;
    opacity: 1;
    z-index: 2020;
    border: 1px solid transparent;

    .dialog {
      height: 65vh;
      width: 51vw;
      content: fill;
      margin-left: 50px;
      margin-top: 0%;

      .selectedImage {
        height: 450px;
        width: 700px;
        border-radius: 8px;
        margin: auto;
        opacity: 1;
      }

      .cancel {
        height: 14px;
        width: 14px;
        position: relative;
        margin-top: -1%;
        margin-left: 700px;
        cursor: pointer;
      }

      .imageDetails {
        height: 10%;
        width: 700px;
        display: flex;
        margin-top: 5px;
        justify-content: space-between;
        border: 2px solid transparent;

        .rectangle2 {
          width: 85%;
          display: flex;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          justify-content: space-between;

          .imageName {
            font-family: $openSansSemibold;
            height: 22px;
            font-size: 20px;
            letter-spacing: 1;
            line-height: 22px;
            text-align: center;
            font-weight: 600;
            color: #FFFFFF;
            margin-top: 0px;
          }

          .count {
            font-family: $openSansSemibold;
            height: 16px;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: #D6D3D3;
            line-height: 16px;
            letter-spacing: 0;
            display: flex;
            text-align: end;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
          }
        }

        .rectangle3 {
          width: 13%;
          position: relative;
          z-index: 2020;
          border-radius: 12px;
          background: transparent;
          border: none;

          .leftArrow {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 8px 0px 0px 8px;
            border: none;
            border-right: 1px solid #cacaca;
            color: #3E3E3E;
          }

          .left {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 8px 0px 0px 8px;
            border: none;
            border-right: 1px solid #cacaca;
            // pointer-events: none;
            color: #CFCFCF;
          }

          .rightArrow {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 8px 8px 0px;
            border: none;
            color: #3E3E3E;
          }

          .right {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 8px 8px 0px;
            border: none;
            // pointer-events: none;
            color: #CFCFCF;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1200px) {

  .screen {
    height: 350vh;
    width: 150vw;
    margin-top: -130%;
    margin-left: -30%;
    position: fixed;
    background: black;
    opacity: 0.7;
    z-index: 2000;
  }

  .box2 {
    height: 850px;
    width: 650px;
    margin-top: -110%;
    margin-left: 8%;
    position: relative;
    background: transparent;
    opacity: 1;
    z-index: 2020;
    border: 1px solid transparent;


    .dialog {
      height: 59vh;
      width: 50vw;
      content: fill;
      margin-left: 50px;
      margin-top: 4%;

      .selectedImage {
        height: 380px;
        width: 550px;
        border-radius: 4px;
        margin: auto;
        opacity: 1;
      }

      .cancel {
        height: 14px;
        width: 14px;
        position: relative;
        margin-top: -0.8%;
        margin-left: 550px;
        cursor: pointer;
      }

      .imageDetails {
        height: 10%;
        width: 550px;
        display: flex;
        margin-top: 5px;
        justify-content: space-between;
        border: 2px solid transparent;

        .rectangle2 {
          width: 85%;
          display: flex;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          justify-content: space-between;

          .imageName {
            font-family: $openSansSemibold;
            height: 22px;
            font-size: 18px;
            letter-spacing: 1;
            line-height: 22px;
            text-align: center;
            font-weight: 600;
            color: #FFFFFF;
            margin-top: 0px;
          }

          .count {
            font-family: $openSansSemibold;
            height: 16px;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: #D6D3D3;
            line-height: 16px;
            letter-spacing: 0;
            display: flex;
            text-align: end;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
          }
        }

        .rectangle3 {
          width: 13%;
          position: relative;
          z-index: 2020;
          border-radius: 12px;
          background: transparent;
          border: none;

          .leftArrow {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 8px 0px 0px 8px;
            border: none;
            border-right: 1px solid #cacaca;
            color: #3E3E3E;
          }

          .left {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 8px 0px 0px 8px;
            border: none;
            border-right: 1px solid #cacaca;
            // pointer-events: none;
            color: #CFCFCF;
          }

          .rightArrow {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 8px 8px 0px;
            border: none;
            color: #3E3E3E;
          }

          .right {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 8px 8px 0px;
            border: none;
            // pointer-events: none;
            color: #CFCFCF;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 900px) {

  .screen {
    height: 400vh;
    width: 150vw;
    margin-top: -250%;
    margin-left: -30%;
    position: fixed;
    background: black;
    opacity: 0.7;
    z-index: 2000;
  }

  .box2 {
    height: 800px;
    width: 500px;
    margin-top: -145%;
    margin-left: 5%;
    position: relative;
    background: transparent;
    opacity: 1;
    z-index: 2020;
    border: 1px solid transparent;

    .dialog {
      height: 55vh;
      width: 50vw;
      content: fill;
      margin-left: 25px;
      margin-top: 4%;

      .selectedImage {
        height: 320px;
        width: 450px;
        border-radius: 4px;
        margin: auto;
        opacity: 1;
      }

      .cancel {
        height: 14px;
        width: 14px;
        position: relative;
        margin-top: -0.8%;
        margin-left: 450px;
        cursor: pointer;
      }

      .imageDetails {
        height: 10%;
        width: 450px;
        display: flex;
        margin-top: 5px;
        justify-content: space-between;
        border: 2px solid transparent;

        .rectangle2 {
          width: 85%;
          display: flex;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          justify-content: space-between;

          .imageName {
            font-family: $openSansSemibold;
            height: 22px;
            font-size: 16px;
            letter-spacing: 1;
            line-height: 22px;
            text-align: center;
            font-weight: 600;
            color: #FFFFFF;
            margin-top: 0px;
          }

          .count {
            font-family: $openSansSemibold;
            height: 16px;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: #D6D3D3;
            line-height: 16px;
            letter-spacing: 0;
            display: flex;
            text-align: end;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
          }
        }

        .rectangle3 {
          width: 13%;
          position: relative;
          z-index: 2020;
          border-radius: 12px;
          background: transparent;
          border: none;

          .leftArrow {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 8px 0px 0px 8px;
            border: none;
            border-right: 1px solid #cacaca;
            color: #3E3E3E;
          }

          .left {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 8px 0px 0px 8px;
            border: none;
            border-right: 1px solid #cacaca;
            // pointer-events: none;
            color: #CFCFCF;
          }

          .rightArrow {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 8px 8px 0px;
            border: none;
            color: #3E3E3E;
          }

          .right {
            font-size: 20px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 8px 8px 0px;
            border: none;
            // pointer-events: none;
            color: #CFCFCF;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {

  .screen {
    height: 400vh;
    width: 150vw;
    margin-top: -250%;
    margin-left: -30%;
    position: fixed;
    background: black;
    opacity: 0.7;
    z-index: 2000;
  }

  .box2 {
    height: 700px;
    width: 450px;
    margin-top: -140%;
    margin-left: -3%;
    position: relative;
    background: transparent;
    opacity: 1;
    z-index: 2020;
    border: 1px solid transparent;

    .dialog {
      height: 35vh;
      width: 45vw;
      content: fill;
      margin-left: 0%;
      margin-top: 0%;

      .selectedImage {
        height: 300px;
        width: 420px;
        border-radius: 4px;
        margin-left: 15px;
        opacity: 1;
      }

      .cancel {
        height: 14px;
        width: 14px;
        position: relative;
        margin-top: -0.8%;
        margin-left: 436px;
        cursor: pointer;
      }

      .imageDetails {
        height: 10%;
        width: 422px;
        display: flex;
        margin-top: 5px;
        margin-left: 5%;
        justify-content: space-between;
        border: 2px solid transparent;

        .rectangle2 {
          width: 85%;
          display: flex;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          justify-content: space-between;

          .imageName {
            font-family: $openSansSemibold;
            height: 15px;
            font-size: 14px;
            letter-spacing: 1;
            line-height: 15px;
            text-align: center;
            font-weight: 600;
            color: #FFFFFF;
            margin-top: 0px;
          }

          .count {
            font-family: $openSansSemibold;
            height: 16px;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            color: #D6D3D3;
            line-height: 16px;
            letter-spacing: 0;
            display: flex;
            text-align: end;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
          }
        }

        .rectangle3 {
          width: 13%;
          position: relative;
          z-index: 2020;
          border-radius: 12px;
          background: transparent;
          border: none;

          .leftArrow {
            font-size: 15px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 6px 0px 0px 6px;
            border: none;
            border-right: 1px solid #cacaca;
            color: #3E3E3E;
          }

          .left {
            font-size: 15px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 6px 0px 0px 6px;
            border: none;
            border-right: 1px solid #cacaca;
            // pointer-events: none;
            color: #CFCFCF;
          }

          .rightArrow {
            font-size: 15px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 6px 6px 0px;
            border: none;
            color: #3E3E3E;
          }

          .right {
            font-size: 15px;
            height: 100%;
            width: 50%;
            position: relative;
            margin: 0%;
            outline: none;
            border-radius: 0px 6px 6px 0px;
            border: none;
            // pointer-events: none;
            color: #CFCFCF;
          }
        }
      }
    }
  }
}
