<div class="box">
  <div class="downloadSection">
    <div class="rectangle">
      <div class="downloadMessage">
        <p class="text">Food is for eating & good food is to be enjoyed.<br>Download the app today!</p>
      </div>
      <div class="buttons">
        <div class="button1">
          <img src="../../../assets/images/Button - App Store.png" alt="">
        </div>
        <div class="button2">
          <img src="../../../assets/images/Button - Play Store.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="privacyPolicy">
    <img src="../../../assets/images/icn_search_home copy.png" alt="">
    <div class="bar"></div>
    <p class="text1">Privacy Policy</p>
    <div class="block1">
      <p class="text2">Introduction:</p>
      <p class="text3">This policy explains how we, Xxxxxxxx (hereinafter referred to as “xxxxxx”), use the personal
        information which you provide to us when using our service, including but not limited to our website and mobile
        applications (jointly referred as “Website”). Please read this Privacy Policy and understand it before using our
        services. By visiting and/or ordering services on this Website, you agree and, where required, consent to the
        collection, use and transfer of your information as set out in this policy. </p>
      <p class="text4">What information do we collect about you?</p>
      <p class="text5">We collect personal information from you when you order goods or services from us or use our
        Website. We also collect information when you complete any customer survey. Website usage information may also
        be collected using cookies (as defined below). Xxxxx will collect information that personally identifies you
        and/or your location, where required (this may include your name, email address, home address, telephone number,
        geolocation, etc.), but only when you voluntarily give it to us. We collect this information exclusively to
        carry out the functions offered on the Website and to provide you with offers and information about xxxxxxx and
        other services we think you may be interested in. We might collect this personal information through: online
        food ordering; entry into competitions; subscribing to our newsletter; creating a user account; sending 'contact
        us' messages or other correspondence through the Website; or through advertising, research and direct marketing.
        We do not collect sensitive information about you. </p>
      <p class="text6">Cookies</p>
      <p class="text7">Some of the information collected will not personally identify you but will instead track your
        use of the Website so that we can better understand how the Website is used by customers and in turn enhance and
        improve your experience in ordering food. We may obtain this information by use of cookies. Cookies are a small
        data file transferred to your device that recognises and identifies your device and allows your device to
        'remember' information from the Website for future use. Cookies do not contain any information that personally
        identifies you and we do not use cookies in order to obtain such information - your personal information can
        only be obtained by xxxxxxx if you actively provide it to us. We may collect technical information from your
        mobile device or your use of our services through a mobile device, for example, location data and certain
        characteristics of, and performance data about your device, carrier/operating system</p>
    </div>
  </div>
</div>
