<div class="row menu">
    <!-- <div class="col-3"></div> -->
    <div class="d-flex flex-column col-12 col-lg-7 menu-left">
        <div class="search-box">
            <img class="search-icon" src="../../../../../assets/icn_search_home copy@3x.png" />
            <input class="input" placeholder="Search an item">
          </div>
        <div class="d-flex flex-column left-list"> 
            <label class="list-title">Recomended (3)</label>
            <div class="d-flex flex-row list-card" *ngFor="let i of [1,2,3,4]">
                <div class="card-img">
                    <img src="../../../../../assets/icn_restaurant.png">
                </div>
                <div class="d-flex flex-row card-content">
                    <div class="d-flex flex-column justify-content-between card-content-left">
                        <label class="name-text">Chili Cheese Meal</label>
                        <label class="cost-text">AED27.00</label>
                        <label class="description-text">Panko breaded mac and cheese balls fried until golden brown and served with our homemade marinara sauce.</label>
                    </div>
                    <div class="d-flex flex-column justify-content-between card-content-right">
                        <label class="flex-end align-self-end best-seller-text">BESTSELLER</label>
                        <div class="d-flex flex-column content-right-bottom">
                            <label class="already-in-cart-text">Already in cart</label>
                            <button class="add-btn small-button" *ngIf="true">ADD</button>
                            <button class="add-btn big-button" *ngIf="false">ADD AGAIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex flex-column col-12 col-lg-4 cart">
        <div class="d-flex flex-row justify-content-between cart-header">
            <label class="header-text">My Order</label>
            <label class="clear-cart-text">Clear cart</label>
        </div>
        <div class="border"></div>
        <div class="d-flex flex-column cart-items">
            <div class="d-flex flex-column item">
                <div class="d-flex flex-row item-top">
                    <div class="top-text">
                        <div>
                            <img src="../../../../../assets/images/icn_non_veg.png">
                            <label class="name">Chili Cheese Meal</label>
                        </div>
                        <label class="price">AED27.00</label>
                    </div>
                    <div class="d-flex flex-row top-buttons">
                        <label class="text">-</label>
                        <label class="text orange-text">1</label>
                        <label class="text orange-text" (click)="increaseQuantityOfDish()">+</label>
                    </div>
                </div>
                <div class="d-flex flex-column item-bottom">
                    <div class="d-flex flex-row bottom-left">
                        <label class="description-text">Add On : Avacado, Seasoned Grilled Chicken, Grilled Salmon</label>
                        <label class="total-price-text">AED54.00</label>
                    </div>
                    <div class="d-flex flex-end bottom-right">
                        <!-- <label class="customize-text">Customize</label> -->
                        <label class="remove-text">Remove</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment">
            <div class="d-flex flex-row payment-header" >
                <label>To Pay</label>
                <div class="d-flex flex-row header-price">
                    <label>AED56.99</label>
                    <img class="collapse-btn" src="../../../../../assets/images/icn_collapse.png" [ngClass]="isHide?'translateY':'translateX'" (click)="showPaymentDetails()">
                </div>
            </div>
            <div class="d-flex flex-column payment-details" [ngClass]="isHide?'d-none':'d-block'">
                <div class="d-flex flex-row item">
                    <label class="text">Items total</label>
                    <label class="text">AED118.00</label>
                </div>
                <div class="d-flex flex-row item">
                    <label class="text">Fee/charges</label>
                    <label class="text">AED118.00</label>
                </div>
                <div class="d-flex flex-row item">
                    <label class="text">Discount</label>
                    <label class="text">AED118.00</label>
                </div>
            </div>
        </div>
        <div class="cooking-instructions">
            <label class="cooking-instructions-text">Cooking instructions?</label><br>
            <input class="cooking-instructions-textbox border-none" type="text" placeholder="Mention it here…"><br>
            <button class="proceed-btn">PROCEED TO CHECKOUT ></button>
        </div>
    </div>
    <!-- <div class="col-3"></div> -->
</div>