<div class="row menu">
    <!-- <div class="col-3"></div> -->
    <div class="d-flex flex-column col-12 col-md-8 menu-left">
        <div class="search-box">
            <img class="search-icon" src="assets/images/icn_search.png" />
            <input class="input" placeholder="Search an item" [(ngModel)]="menuSearch">
        </div>
        <div class="d-flex flex-column left-list" *ngFor="let main_item of groupedMenuList | keyvalue">
            <label *ngIf="menuSearch === ''" class="list-title mt-4 text-capitalize">{{main_item.key}}
                ({{main_item.value}})</label>
            <span *ngFor="let item of menuList | filterMenu:menuSearch">
                <span class="d-flex flex-row list-card" *ngIf="main_item.key === item.menu.course">
                    <div class="card-img">
                        <img class="img" src="{{ item.menu.item_image_path }}">
                        <img *ngIf="item.menu.category === 'vegetarian'" class="categoury-img"
                            src="assets/images/icn_veg.png" />
                        <img *ngIf="item.menu.category === 'non vegetarian'" class="categoury-img"
                            src="assets/images/icn_non_veg.png" />
                    </div>
                    <div class="d-flex flex-row card-content">
                        <div class="d-flex flex-column card-content-left">
                            <label class="name-text">{{ item.menu.item_name }}</label>
                            <label class="cost-text">INR{{item.price}}</label>
                            <label class="description-text d-none d-md-block">{{ item.menu.desrcription |
                                stringSlice:0:100 }}</label>
                        </div>
                        <div class="d-flex flex-column-reverse card-content-right">
                            <!-- <label class="flex-end align-self-end best-seller-text">BESTSELLER</label> -->
                            <div *ngIf="isLoggedIn" class="d-flex flex-column content-right-bottom">
                                <div class="add-btn small-button" *ngIf="!(menuIdList.includes(item.menu.item_name))"
                                    (click)="addTocart(item.menu.menu_id)">ADD</div>
                                <span *ngIf="menuIdList.includes(item.menu.item_name)">
                                    <label class="already-in-cart-text pl-3">Already in cart</label>
                                    <div class="add-btn big-button" (click)="addTocartAgain(item.menu.menu_id, 1)">
                                        ADD AGAIN</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </span>
            </span>
        </div>
    </div>

    <div class="d-flex flex-column col-12 col-md-4 mt-5 mt-md-0 cart">
        <div class="d-flex flex-row justify-content-between cart-header">
            <label class="header-text">My Order</label>
            <label class="clear-cart-text" (click)="clearCart()">Clear cart</label>
        </div>
        <span *ngIf="isLoggedIn">
            <div class="d-flex flex-column cart-items" *ngFor="let cart of cartList">
                <div class="d-flex flex-column item">
                    <div class="d-flex flex-row item-top">
                        <div class="top-text">
                            <div>
                                <img *ngIf="cart.category === 'vegetarian'" class="categoury-img"
                                    src="assets/images/icn_veg.png" />
                                <img *ngIf="cart.category === 'non vegetarian'" class="categoury-img"
                                    src="assets/images/icn_non_veg.png" />
                                <label class="name">{{ cart.item_name }}</label>
                            </div>
                            <label class="price">INR{{ cart.price }}</label>
                        </div>
                        <div class="d-flex flex-row top-buttons">
                            <label class="text" [ngClass]="cart.quantity<=1?'disable-action-text':'orange-text'"
                                (click)="addTocartAgain(cart.menu_id, -1)">-</label>
                            <label class="text orange-text">{{ cart.quantity }}</label>
                            <label class="text orange-text" (click)="addTocartAgain(cart.menu_id, 1)">+</label>
                        </div>
                    </div>
                    <div class="d-flex flex-column item-bottom">
                        <div class="d-flex flex-row bottom-left">
                            <label class="description-text">Add On : Avacado, Seasoned Grilled Chicken, Grilled
                                Salmon</label>
                            <label class="total-price-text">INR{{ cart.menu_price }}</label>
                        </div>
                        <div class="d-flex flex-end bottom-right">
                            <!-- <label class="customize-text">Customize</label> -->
                            <label class="remove-text" (click)="removeItem(cart.menu_id)">Remove</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment">
                <div class="d-flex flex-row payment-header">
                    <label>To Pay</label>
                    <div class="d-flex flex-row header-price">
                        <label>INR{{this.toPayAmmount}}</label>
                        <img class="collapse-btn" src="assets/images/icn_collapse.png"
                            [ngClass]="isHide?'translateY':'translateX'" (click)="showPaymentDetails()">
                    </div>
                </div>
                <div class="d-flex flex-column payment-details" [ngClass]="isHide?'d-none':'d-block'">
                    <div class="d-flex flex-row item">
                        <label class="text">Items total</label>
                        <label class="text">INR{{this.totalAmmount}}.00</label>
                    </div>
                    <div class="d-flex flex-row item">
                        <label class="text">Fee/charges</label>
                        <label class="text">INR0.00</label>
                    </div>
                    <div class="d-flex flex-row item">
                        <label class="text">Discount</label>
                        <label class="text">INR{{discountAmmount}}.00</label>
                    </div>
                </div>
            </div>
            <div class="cooking-instructions">
                <label class="cooking-instructions-text">Cooking instructions?</label><br>
                <input id="coock-input" [(ngModel)]="coockingInstructions" class="cooking-instructions-textbox border-none" type="text"
                    placeholder="Mention it here…"><br>
                <button class="proceed-btn d-flex align-items-center justify-content-center" (click)="addCoockingInstructions()">
                    PROCEED TO CHECKOUT
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </span>
    </div>
    <!-- <div class="col-3"></div> -->
</div>