<div class="box ">
  <div class="left">
    <div class="topBar">
      <p class="reviews">Reviews</p>
      <div class="sort">
        <p class="show">Show :</p>
        <p (click)="sortByDate()" class="recent">Recent</p>
        <div class="arrow"></div>
        <span *ngIf="sortType === 'date_high_low'" class="arrow">&#8593;</span>
        <span *ngIf="sortType === 'date_low_high'" class="arrow">&#8595;</span>
      </div>
    </div>
    <div class="card" *ngFor="let item of datalist">
      <div class="rectangle1">
        <div class="nameSection">
          <img class="photo" [src]="!(item.user_image==='null')?item.user_image:'assets/images/profile.svg'" alt="">
          <div class="details">
            <div class="name">
              <p class="firstName">{{item.first_name}}</p>
              <p class="lastName">{{item.last_name}}</p>
            </div>
            <div class="reviewsAndRatings">
              <p class="reviewNumber">{{item.reviewCount}}</p>
              <p class="reviews">Reviews, </p>
              <p class="ratingNumber">{{item.ratingCount}}</p>
              <p class="ratings">Ratings</p>
            </div>
            <div class="ratingBox"
              [ngClass]="{'ratingBox-green':item.rating>=4, 'ratingBox-yellow':item.rating<=3, 'ratingBox-red':item.rating<3}">
              <mat-icon class="rating-star">star</mat-icon>
              <div class="starNumber">{{item.rating}}</div>
            </div>
          </div>
        </div>
      </div>
      <p class="description">{{item.description==='null'?'':item.description}}</p>
      <div class="rectangle2">
        <p class="date">{{item.date==='null'?'':item.date}}</p>
        <div class="like" align="right">
          <img *ngIf="!(likedReviewsId.includes(item.review_id))" class="likeButton"
            src="assets/images/like_inactive.png" (click)="likeReview(item.review_id)" alt="">
          <img *ngIf="likedReviewsId.includes(item.review_id)" class="likeButton" src="assets/images/like_active.png"
            (click)="disLikeReview(item.review_id)" alt="">
          <p class="likeNumber">{{item.likes}}</p>
        </div>
      </div>
      <div class="rectangle3">
        <img *ngFor="let list of item.foodImages" [src]="list" alt="">
      </div>
    </div>
  </div>
  <div class="right">
    <div class="top"></div>
    <div class="bottom">
      <p class="heading">Rate your experience</p>
      <p class="food">Food</p>
      <div class="ratingButtons1">
        <button (click)="foodRating(1)" id="food-1" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">1</p>
        </button>
        <button (click)="foodRating(2)" id="food-2" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">2</p>
        </button>
        <button (click)="foodRating(3)" id="food-3" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">3</p>
        </button>
        <button (click)="foodRating(4)" id="food-4" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">4</p>
        </button>
        <button (click)="foodRating(5)" id="food-5" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">5</p>
        </button>
      </div>
      <div class="rectangle1" align="right">
        <div class="box1">
          <p class="check1" [ngClass]="isFoodRatingStored?'check1-active':''"></p>
          <p class="saved1" [ngClass]="isFoodRatingStored?'saved1-active':''">Saved</p>
        </div>
      </div>
      <p class="service">Service</p>
      <div class="ratingButtons1">
        <button (click)="serviceRating(1)" id="service-1" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">1</p>
        </button>
        <button (click)="serviceRating(2)" id="service-2" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">2</p>
        </button>
        <button (click)="serviceRating(3)" id="service-3" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">3</p>
        </button>
        <button (click)="serviceRating(4)" id="service-4" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">4</p>
        </button>
        <button (click)="serviceRating(5)" id="service-5" class="starButton1">
          <p class="star1">&#9733;</p>
          <p class="rating1">5</p>
        </button>
      </div>
      <div class="rectangle2" align="right">
        <div class="box2">
          <div class="check2" [ngClass]="isServiceRatingStored?'check2-active':''"></div>
          <p class="saved2" [ngClass]="isServiceRatingStored?'saved2-active':''">Saved</p>
        </div>
      </div>
      <p class="writeAReview">Write a review</p>
      <div class="rectangle3">
        <input class="inputReview" [(ngModel)]="reviewText" type="text" placeholder="Start writing your review" name="review-text">
      </div>
      <div class="addImageButton" align="right">
        <input type="file" id="file" multiple (change)="detectFiles($event)">
        <label for="file" class="addImage">+ Add image</label>
      </div>
      <div>
        <img *ngFor="let url of imageUrls" [src]="url" class="selected-images mt-2 mb-3">
      </div>
      <div class="rectangle4">
        <button *ngIf="!isLoading" (click)="submitReview()" class="submit">Submit</button>
        <button *ngIf="isLoading" class="submit">
          <app-loading></app-loading>
        </button>
      </div>
    </div>
  </div>
</div>