@import "../../../variables.scss";

.conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  padding: 2em;
  margin-top: 5em;

  .error {
    position: relative;
    width: 25%;
  }

  .page {
    font-family: $openSans;
    color: #3E3E3E;
    margin: 3em;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
  }

  .home {
    cursor: pointer;
    width: 130px;
    margin-bottom: 20em;
  }

  @media screen and (max-width: 720px) {
    .error {
      position: relative;
      width: 50%;
    }
  }
}