<div class="dialog">
  <button class="close" (click)="onNoClick()" mat-button mat-dialog-close>
    <img class="close" src="assets/images/dismiss_button.png" alt="">
  </button>

  <p class="heading">Add new address</p>
  <div class="location"></div>

  <mat-form-field>
    <mat-label>City</mat-label>
    <div style="display: block;  position: relative;">
      <input matInput>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Area</mat-label>
    <div style="display: block;  position: relative;">
      <input matInput>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <div style="display: block;  position: relative;">
      <input matInput>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address label</mat-label>
    <div style="display: block;  position: relative;">
      <input matInput>
    </div>
  </mat-form-field>

  <button class="save">SAVE ADDRESS</button>
</div>
