<div class="dialog">
  <button class="close" (click)="onNoClick()" mat-button mat-dialog-close>
    <img class="close" src="../../../../../assets/images/dismiss_button.png" alt="">
  </button>

  <p class="heading">Add new address</p>
  <div class="location"></div>

  <form [formGroup]="form">

    <!-- <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="abcd" name="city" id="city" type="text" formControlName="city">
      <mat-hint *ngIf="city.touched && city.errors?.required">Please enter city</mat-hint>
    </mat-form-field> -->

    <!-- <mat-form-field>
      <mat-label>City</mat-label>
      <div style="display: block;  position: relative;">
        <input matInput placeholder="Name" [(ngModel)]="myCity" name="city" id="city" type="text"
          formControlName="city">
        <mat-hint *ngIf="city.touched && city.errors?.required">Please enter city</mat-hint>
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Area</mat-label>
      <div style="display: block;  position: relative;">
        <input matInput required>
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <div style="display: block;  position: relative;">
        <input matInput required>
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address label</mat-label>
      <div style="display: block;  position: relative;">
        <input matInput required>
      </div>
    </mat-form-field> -->
  </form>

  <button class="save" (click)=saveAddress()>SAVE ADDRESS</button>
</div>
