@import '../../../../../mixin.scss';
@import '../../../../../variables.scss';

.address-details {
  margin: 16px;

  .delivery-type {
    .delivery-type-text {
      color: #4A4A4A;
      font-family: "Open Sans";
      font-size: 14px;
      letter-spacing: -0.24px;
      line-height: 19px;
      text-align: center;
    }

    .delivery-type-card {
      border-radius: 6px;
      background-color: $white;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      padding: 22px 45px;
      margin-top: 16px;
      margin-right: 16px;

      .icon {
        height: 52px;
        width: 87px;
      }

      .radio-btn {
        margin-top: 14px;
        @include custom-radio-button();

        .radio-icon {
          color: #36393B;

          &:hover {
            cursor: pointer;
          }
        }

        .radio-button-text {
          color: #4A4A4A;
          font-family: "Open Sans";
          font-size: 14px;
          letter-spacing: -0.24px;
          line-height: 19px;
          padding-left: 8px;
        }

      }
    }
  }

  .section-heading {
    color: $black;
    font-family: "Open Sans";
    font-size: 17px;
    letter-spacing: -0.41px;
    line-height: 23px;
    margin-top: 30px;
  }

  .address {
    margin-right: 16px;
    width: 100%;

    .address-header {
      justify-content: space-between;
      width: 100%;

      .add-new-button {
        height: 30px;
        width: 96px;
        border-radius: 15px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.2px;
        line-height: 19px;
        text-align: center;
        margin-top: 30px;
        border: 1px solid#ff8c7d;
        color: #ff8c7d;
        background-color: $white;
        @include focus;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .address-section {
      margin-top: 8px;
      justify-content: space-between;
      .address-card {
        width: 49%;
        border-radius: 6px;
        background-color: $white;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        padding: 8px 8px 8px 16px;
        margin-top: 8px;
        &:hover {
          cursor: pointer;
        }

        .img-check {
          justify-content: flex-end;
          height: 16px;

          .img {
            height: 16px;
            width: 16px;
          }
        }

        .address-type {
          color: #6A6A6A;
          font-family: "Open Sans";
          font-size: 12px;
          letter-spacing: -0.24px;
          line-height: 17px;
        }

        .address-text {
          color: #2D2D2D;
          font-family: "Open Sans";
          font-size: 14px;
          letter-spacing: -0.24px;
          line-height: 19px;
          width: 70%;
        }

        .button-section {
          justify-content: flex-end;

          .btn {
            color: #F57C00;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 19px;
            text-align: center;
            outline: none;

            &:focus {
              outline: none;
              box-shadow: none;
            }

            &:hover {
              color: #a75300;
            }
          }
        }

      }
    }
  }

  .contact-details {
    .form {
      @include grey-text-box;

      .error {
        color: red;
      }

      .name-text-box {
        width: 60%;
      }

      .mobile-no-text-box {
        width: 45%;
        margin-top: 16px;
      }

      .delivery-inst-text-box {
        width: 100%;
      }

      .country-code {
        width: 5em;
        height: 2em;
        background-color: #ff8c7d;
      }

      .phone-number {
        width: 15em;
        height: 2em;
        background-color: #f7d8d8
      }

      .code-drop-down {
        width: 90px;
        background: $white;
        margin-right: 16px;
        margin-top: 2px;

        .drop {
          width: 50px;
        }

        .country-flag {
          height: 30px;
          width: 30px;
          margin-right: 8px;
        }
      }

      .text-box-padding {
        padding-bottom: 8px;
      }
    }
  }
}

.img {
  width: 2em;
  height: 2em;
}

//modal
.order-details {
  border-radius: 8px;
  padding: 16px;

  .order-details-heading {
    justify-content: space-between;

    .text {
      color: #4C4C4C;
      font-family: $openSans;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.34px;
      line-height: 33px;
      width: 100%;
      text-align: center;
    }

    .btn-close-position {
      position: relative;
      top: -16px;
      left: 16px;
    }
  }

  .card-heading-text {
    color: #565454;
    font-family: $openSans;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 8px;
    margin-top: 16px;
  }

  .details-items {
    .item-card {
      border-radius: 5px;

      .card-template {
        margin: 16px;

        .card-top {
          .meal-name {
            color: #2D2D2D;
            font-family: $openSans;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 19px;
            margin-left: 8px;
          }
        }

        .card-bottom {
          margin-bottom: 8px;

          .bottom-details {
            justify-content: space-evenly;

            .cost {
              color: #2D2D2D;
              font-family: $openSans;
              font-size: 12px;
              letter-spacing: 0;
              line-height: 27px;
            }

            .add-on {
              color: #9B9B9B;
              font-family: $openSans;
              font-size: 11px;
              letter-spacing: 0;
              line-height: 15px;

            }

            .quantity {
              color: #9B9B9B;
              font-family: $openSans;
              font-size: 11px;
              letter-spacing: 0;
              line-height: 15px;
              padding-top: 4px;
            }
          }

          .bottom-meal-cost {
            justify-content: flex-end;
            width: 100%;

            .total-cost {
              color: #2D2D2D;
              font-family: $openSans;
              font-size: 12px;
              font-weight: 600;
              letter-spacing: 0;
              line-height: 17px;
              text-align: right;
            }
          }
        }
      }
    }
  }

  .details-amount {
    .details-amount-card {
      padding: 16px;

      .card-amount-details {
        justify-content: space-between;

        .sub-text {
          color: #9B9B9B;
          font-family: $openSans;
          ;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 27px;
        }

        .text-right {
          text-align: right;
        }

        .text-left {
          text-align: left;
        }

        .paid-text {
          color: #223136;
          font-family: $openSans;
          ;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 22px;

        }

        .total-amount-text {
          color: #223136;
          font-family: $openSans;
          ;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 22px;
        }
      }

      .card-payment-mode {
        justify-content: space-between;
        margin-top: 8px;

        .payment-mode-text {
          color: #223136;
          font-family: $openSans;
          ;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 22px;
        }

        .payment-type {
          color: #223136;
          font-family: $openSans;
          ;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 22px;
          text-align: right;
        }
      }
    }
  }

  .details-delivery {
    .delivery-card {
      padding: 16px;

      .heading-text {
        color: #9B9B9B;
        font-family: $openSans;
        ;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 17px;
      }

      .info-text {
        color: #223136;
        font-family: $openSans;
        ;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
      }

      .divider {
        margin: 16px 0px;
      }
    }
  }
}
