@import '../../../../../variables.scss';
@import '../../../../../mixin.scss';

@include overriding-angular-materials-filter-input(31.3em);
@include overriding-angular-materials();

.header {
    overflow: hidden;
    height: 45em;
    background-image: url("../../../../../assets/images/pattern-3.png");
    background-color: $headerBackgroundColor;

    @include left-green-fill();
    @include right-gradient-fill();

    .heading-area {
        display: flex;

        .header-items {
            @include header-text();
            padding-left: 4em;

            .search-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: $white;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
                width: 93%;
                height: 3.5em;
                border-radius: 0.4em;

                @include icon-style();

                .form-control {
                    display: block;
                    width: 100%;
                    z-index: 2;
                    border: none;
                    outline: none;

                    font-family: $openSans;
                    font-size: 1em;
                    letter-spacing: -0.24px;
                    line-height: 19px;
                    color: #848484;

                    &:focus {
                        outline: 5px solid $white;
                        box-shadow: none;
                        outline: none;

                        font-weight: bold;
                        color: rgb(26, 24, 24);
                    }
                }
            }

            .scroll-mouse {
                position: relative;
                top: 10em;
                left: 28em;
                transition: 5s;
            }

            .scroll-text {
                height: 18px;
                width: 118.55px;
                opacity: 0.66;
                color: #848484;
                font-family: $openSans;
                font-size: 13px;
                letter-spacing: 3.66px;
                line-height: 18px;
                left: 27em;
                top: 14em;
                text-align: center;
            }
        }

        .location-date-input {
            display: flex;
            flex-direction: row;

            .location {
                @include mediam-imput-box(48%);
                @include form-controles();
                @include icon-style();
                @include gps-form-control(3.1em);
                background-color: $white;
            }

            .date-picker-container {
                background-color: $white;
                @include mediam-imput-box(42%);
                margin-left: 1em;
                @include form-controles();
                @include calender-container();
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        height: 65em;

        .heading-area {
            display: flex;

            .header-items {
                @include header-text(250px, 46px);
            }
        }

        @include right-gradient-fill(60rem, 40rem, 26em, 20em, -6em, 1.5em, 65em, 55em, -68em, -6em);
        @include left-green-fill(42em, 24em, 12em, 11em, -13em, 15em, -18em, -1em);
    }

    @include overriding-angular-materials-filter-input(37em);
}

@media only screen and (max-width: 768px) {
    .header {
        height: 40em;
    }

    @include overriding-angular-materials-filter-input(20em);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 0.8em;
    width: 0.8em;
    background: url('../../../../../assets/images/dismiss.png') no-repeat 50% 50%;
    background-size: contain;
}