<div class="dialog">
  <button class="close" (click)="onNoClick()" mat-button mat-dialog-close>
    <img class="close" src="assets/images/dismiss_button.png" alt="">
  </button>

  <p class="heading">Add New Card</p>
  <p class="text">Enter Credit/Debit card details</p>

  <!-- <mat-form-field>
    <mat-label>Card number</mat-label>
    <div style="display: block;  position: relative;">
      <input matInput>
    </div>
    <img class="icon" src="assets/images/Visa_small_icon.png" alt="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name on card</mat-label>
    <div style="display: block;  position: relative;">
      <input matInput>
    </div>
  </mat-form-field> -->
  <form>

    <!-- Card number -->

    <mat-form-field>
      <mat-label>Card number</mat-label>
      <div style="display: block;  position: relative;">
        <input matInput id="credit-card" class="input js-number" type="text" name="cardNumber" minlength="19" maxlength="19"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="cardNumber" required
          title="Please enter correct year" [(ngModel)]="cardNumber.value" [class.invalid]="cardNumber.error" />
      </div>
      <mat-hint *ngIf="cardNumber.error" class="error1">{{cardNumber.error}}</mat-hint>
      <img class="icon" src="../../../../../assets/images/Visa_small_icon.png" alt="">
    </mat-form-field>

    <!-- Name on card -->

    <mat-form-field>
      <mat-label>Name on card</mat-label>
      <div style="display: block;  position: relative;">
        <input matInput class="input" type="text" name="name" [(ngModel)]="name.value" [class.invalid]="name.error" />
      </div>
      <mat-hint *ngIf="name.error" class="error1">{{name.error}}</mat-hint>
    </mat-form-field>

    <div class="cardDetails">

      <!-- Expiry month -->

      <mat-form-field>
        <mat-label>Expiry</mat-label>
        <div style="display: block;  position: relative;">
          <input matInput class="input" type="text" maxlength="2" pattern="\d{1,2}" name="expiryMonth"
            [min]="currentMonth" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            title="Please enter correct month" [(ngModel)]="expiryMonth.value" [class.invalid]="expiryMonth.error" />
        </div>
      </mat-form-field>
      <mat-hint *ngIf="expiryMonth.error" class="error2">{{expiryMonth.error}}</mat-hint>
      <!-- <mat-error *ngIf="monthFormControl.hasError('month') && !monthFormControl.hasError('required')"></mat-error> -->
      <p>/</p>

      <!-- Expiry year -->

      <mat-form-field>
        <div style="display: block;  position: relative;">
          <input matInput class="input" type="text" maxlength="4" pattern="\d{4}" name="expiryYear" [min]="currentYear"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Please enter correct year"
            [(ngModel)]="expiryYear.value" [class.invalid]="expiryYear.error" />
        </div>
      </mat-form-field>
      <mat-hint *ngIf="expiryYear.error" class="error2">{{expiryYear.error}}</mat-hint>

      <!-- CVV -->

      <mat-form-field class="security">
        <mat-label>Security code</mat-label>
        <div style="display: block;  position: relative;">
          <input matInput class="input js-number" type="text" maxlength="3" pattern="\d{3}" name="cvv"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" autofocus required
            title="Please enter correct CVV" [(ngModel)]="cvv.value" [class.invalid]="cvv.error" />
        </div>
        <mat-hint *ngIf="cvv.error" class="error1">{{cvv.error}}</mat-hint>
      </mat-form-field>

    </div>

  </form>

  <div class="primary">
    <input type="checkbox" class="checkActive" id="tab" name="tabs">
    <label class="primaryActive1" for="tab">Add this card to saved cards</label>
  </div>

  <button class="save" (click)="saveCard()">SAVE CARD</button>
</div>
