<app-nav-bar pageName="menu-home"></app-nav-bar>
<app-top-search-bar pageName="menu-home"></app-top-search-bar>
<app-breadcrumbs pageName="menu-home"></app-breadcrumbs>

<div class="menu-home">
    <div class="container-fluid hader">
        <div class="row">
            <div class="col-0 col-md-3"></div>
            <div class="col-12 col-md-7">
                <div class="form">
                    <div class="card">
                        <div class="details">
                            <img class="cutlery" src="assets/cutlery.png">
                            <label class="name">{{name}}</label>
                            <label class="cuisines">{{cuisines}}</label>
                            <div class="rating"
                                [ngClass]="{'ratingBox-green':restaurantRaring>=4, 'ratingBox-yellow':restaurantRaring<=3, 'ratingBox-red':restaurantRaring<3}">
                            </div>
                            <p>{{ restaurantRaring | number : '1.1-1' }}</p>
                            <label class="time"> &#8226; {{time}} mins</label>
                            <label class="order"> &#8226; INR{{cost}} min order</label>
                            <img class="timings" src="assets/time_icon.png">
                            <label
                                class="open">{{openTime[0]+":"+openTime[1]+openTime[1]+"-"+closeTime[0]+":"+closeTime[1]+closeTime[1]}}</label>
                            <label class="delivery">Delivery for last 5 orders</label>
                            <button *ngIf="rating1"
                                [ngClass]="{'star-green':rating1>=4, 'star-orange':rating1<=3, 'star-red':rating1<3}"
                                class="star"> &#9733; {{ rating1 }}</button>
                            <button *ngIf="rating2"
                                [ngClass]="{'star-green':rating2>=4, 'star-orange':rating2<=3, 'star-red':rating2<3}"
                                class="star1">&#9733; {{ rating2 }}</button>
                            <button *ngIf="rating3"
                                [ngClass]="{'star-green':rating3>=4, 'star-orange':rating3<=3, 'star-red':rating3<3}"
                                class="star2">&#9733; {{ rating3 }}</button>
                            <button *ngIf="rating4"
                                [ngClass]="{'star-green':rating4>=4, 'star-orange':rating4<=3, 'star-red':rating4<3}"
                                class="star3">&#9733; {{ rating4 }}</button>
                            <button *ngIf="rating5"
                                [ngClass]="{'star-green':rating5>=4, 'star-orange':rating5<=3, 'star-red':rating5<3}"
                                class="star4">&#9733; {{ rating5 }}</button>
                            <div class="effect d-none d-md-block">
                            </div>
                        </div>
                        <img class="food d-none d-md-block" src="{{image?image:placeholderImage}}">
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-2"></div>
        </div>
    </div>

    <div class="container-fluid options">
        <div class="row">
            <div class="col-0 col-md-3"></div>
            <div class="col-7">
                <div class="menu-list d-flex">
                    <div class="mr-5 menu" [ngClass]="formType==='menu'?'active':''" (click)="showFormType('menu')">
                        MENU
                    </div>
                    <div class="overview" [ngClass]="formType==='overview'?'active':''"
                        (click)="showFormType('overview')">
                        OVERVIEW
                    </div>
                    <div class="reviews" [ngClass]="formType==='ratings'?'active':''" (click)="showFormType('ratings')">
                        REVIEWS & RATINGS
                    </div>
                    <div class="gallery" [ngClass]="formType==='gallery'?'active':''" (click)="showFormType('gallery')">
                        GALLERY
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-2"></div>
        </div>
    </div>

    <div class="container-fluid fields-container">
        <div class="row">
            <div class="col-0 col-md-3"></div>
            <div class="col-7">
                <div *ngIf="formType==='menu'" class="mr-5 fields">
                    <app-menu></app-menu>
                </div>
                <div *ngIf="formType==='overview'" class="mr-5 fields">
                    <app-overview></app-overview>
                </div>
                <div *ngIf="formType==='ratings'" class="mr-5 fields">
                    <app-reviews-ratings></app-reviews-ratings>
                </div>
                <div *ngIf="formType==='gallery'" class="mr-5 fields">
                    <app-gallery></app-gallery>
                </div>
            </div>
            <div class="col-0 col-md-2"></div>
        </div>
    </div>
</div>