<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="box">
  <div class="rectangle row">
    <div class="rectangle1 col-lg-12 col-md-12 col-sm-12 col-xs-12" align="right">
      <div class="allPhotosButton">
        <p class="buttonText">All Photos</p>
        <img class="arrow" src="../../../../../assets/images/right_arrow.png" alt="">
      </div>
    </div>
    <div class="column col-lg-2 col-md-3 col-sm-4 col-xs-5">
      <img src="../../../../../assets/images/uttapam.jpg" alt="" (click)="displayImage1()">
    </div>
    <div class="column col-lg-2 col-md-3 col-sm-4 col-xs-5">
      <img src="../../../../../assets/images/Vada.jpg" alt="" (click)="displayImage2()">
    </div>
    <div class="column col-lg-2 col-md-3 col-sm-4 col-xs-5">
      <img src="../../../../../assets/images/TandooriChicken.jpg" alt="" (click)="displayImage3()">
    </div>
    <div class="rectangle2" align="right">
      <p class="viewMore">View more ></p>
    </div>
  </div>
</div>

<div *ngIf="isOpen1" class="screen"></div>
<div *ngIf="isOpen1" class="box2">
  <div class="dialog">
    <img class="cancel" (click)="close1()" src="../../../assets/images/cancel.png" alt="">
    <img class="selectedImage" src="../../../../../assets/images/uttapam.jpg" alt="">
    <div class="imageDetails">
      <p class="imageName">Vada</p>
      <div class="count" align="right">
        <p>1</p>
        <p>/</p>
        <p>12</p>
      </div>
    </div>
  </div>
  <div class="rectangle3">
    <button class="fa fa-chevron-left"></button>
    <button class="fa fa-chevron-right"></button>
  </div>
</div>

<div *ngIf="isOpen2" class="screen"></div>
<div *ngIf="isOpen2" class="box2">
  <div class="dialog">
    <img class="cancel" (click)="close2()" src="../../../assets/images/cancel.png" alt="">
    <img class="selectedImage" src="../../../../../assets/images/Vada.jpg" alt="">
    <div class="imageDetails">
      <p class="imageName">Vada</p>
      <div class="count" align="right">
        <p>1</p>
        <p>/</p>
        <p>12</p>
      </div>
    </div>
  </div>
  <div class="rectangle3">
    <button class="fa fa-chevron-left"></button>
    <button class="fa fa-chevron-right"></button>
  </div>
</div>

<div *ngIf="isOpen3" class="screen"></div>
<div *ngIf="isOpen3" class="box2">
  <div class="dialog">
    <img class="cancel" (click)="close3()" src="../../../assets/images/cancel.png" alt="">
    <img class="selectedImage" src="../../../../../assets/images/TandooriChicken.jpg" alt="">
    <div class="imageDetails">
      <p class="imageName">Vada</p>
      <div class="count" align="right">
        <p>1</p>
        <p>/</p>
        <p>12</p>
      </div>
    </div>
  </div>
  <div class="rectangle3">
    <button class="fa fa-chevron-left"></button>
    <button class="fa fa-chevron-right"></button>
  </div>
</div>