@import '../../../../variables.scss';
@import '../../../../mixin.scss';

.breadcrumb-container {
    background-color: #f1f3fb;
    box-shadow: $inputBoxShadow;
    height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .breadcrumb-area {
        display: flex;
        flex-direction: row;
        padding-left: 14.3em;
        @include descriptions(0%);

        .arrow-mark {
            color: $orange;
            font-family: $openSans;
            font-size: 0.8em;
            letter-spacing: 0;
            line-height: 1em;
        }
    }
}

@media only screen and (min-width: 1400px) {
    @include overriding-angular-materials-filter-input(15.6em);

    .breadcrumb-container {
        .breadcrumb-area {
            display: flex;
            flex-direction: row;
            padding-left: 17em;
            @include descriptions(0%);
        }
    }
}

@media only screen and (max-width: 768px) {
    @include overriding-angular-materials-filter-input(26.8em);

    .breadcrumb-container {
        height: 2em;

        .breadcrumb-area {
            display: flex;
            flex-direction: row;
            padding-left: 0em;
            @include descriptions(0%);

        }
    }
}