<div class="container-fluid pb-5 pt-0 pt-md-5 popular-brands-container">
    <div class="row">
        <div class="col-0 col-md-3 col-md-3 d-none d-md-block"></div>

        <div class="col-12 col-md-6">
            <span class="popular-brands-heading">Popular Brands</span>
            <h3 class="d-none d-md-block popular-brands-about pb-3">Find out more about the world's top food brands are
                available all over the world today.</h3>

            <span *ngIf="isErrorLoading">
                <div class="error-field-container mb-5">
                    <img src="../../../../../assets/images/icn_no_restaurants@2x.jpg" class="error-image my-3" />
                    <span class="error-title">Oops!</span>
                    <span class="product-description">No brands nearby change to other locations and try.</span>
                </div>
            </span>

            <span *ngIf="!isLoading && !isErrorLoading">

                <!---------------- Only For Mobile Devices ------------->
                <div class="brand-details d-block d-md-none">
                    <div class="detailia">
                        <div class="avatar-image-div">
                            <img class="avatar-image mr-4 ml-4 mt-1" src="../../../../assets/images/Oval 6 Copy.png" />
                        </div>
                        <div class="details mt-3">
                            <p>KFC</p>
                            <p>Lattine American chicken</p>
                        </div>
                    </div>
                </div>
                <!----------------------------------------------------->

                <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div *ngFor="let brand of popularBrands; index as i;"
                            [ngClass]="{'carousel-item': true, 'active': i===0 }">
                            <div class="popular-brands" (click)="getDetails(brand.brand_id)">
                                <div class="brand-image-container">
                                    <img src="../../../../assets/images/Bitmap Copy 4.png" class="brand-image w-100" />
                                </div>
                                <div class="brand-details d-none d-md-block">
                                    <div class="details-container">
                                        <div class="avatar-image-container mt-4">
                                            <img class="avatar-image" src="../../../../assets/images/Oval 6 Copy.png" />
                                        </div>
                                        <div class="details mt-4">
                                            <span class="brand-name pt-3">{{brand.brand_name}}</span>
                                            <span class="brand-title">{{brand.title}}</span>
                                        </div>
                                    </div>
                                    <div class="description mt-3">
                                        <mat-divider></mat-divider>
                                        <div class="product-description">{{ brand.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="controlls">
                        <div class="container-fluid">
                            <div class="small-orange-text" (click)="getAllBrandsList()">All Brands <mat-icon>
                                    keyboard_arrow_right</mat-icon>
                            </div>
                            <div class="p-2">
                                <div class="controll-btn btn-group pt-1" role="group" aria-label="Basic example">
                                    <a href="#carouselExampleControls" role="button" data-bs-slide="prev"
                                        (click)="carouselControl(-1)"
                                        [ngClass]="{'arrow-btn':hasPreviousItem, 'disabled-arrow-btn': !hasPreviousItem, 'btn':true, 'btn-light':true, 'shadow': true}">
                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                    </a>
                                    <a href="#carouselExampleControls" role="button" data-bs-slide="next"
                                        (click)="carouselControl(1)"
                                        [ngClass]="{'arrow-btn':hasNextItem, 'disabled-arrow-btn': !hasNextItem, 'btn':true, 'btn-light':true, 'shadow': true}">
                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span *ngIf="isLoading && !isErrorLoading">
                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"></div>
            </span>
        </div>

        <div class="col-0 col-md-3 d-none d-md-flex align-items-center justify-content-end right-green-fill">
            <img src="../../../../../assets/images/Fill 1.png" />
        </div>
    </div>
</div>

<!-- <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
  <span class="sr-only">Loading...</span>
</div> -->