@import '../../../../../variables.scss';
@import '../../../../../mixin.scss';

.popular-brands-container {
    background-image: url("../../../../../assets/images/logo_pattern copy.png");
    background-size: auto;
    overflow: hidden;

    .popular-brands-heading {
        color: $darkGray;
        font-family: $openSans;
        font-size: 2.6em;
        letter-spacing: 0;
        line-height: 2.1em;
        text-shadow: 0 0 1.2em 0 $white;
    }

    .popular-brands-about {
        color: $darkGray;
        font-family: $openSans;
        font-size: 0.9em;
        letter-spacing: 0.58px;
        line-height: 1.2em;
    }

    .popular-brands {
        display: flex;
        flex-direction: row;
        background-color: $white;
        border-radius: 5px;

        .brand-image-container {
            .brand-image {
                width: 22em;
                height: 13em;
            }
        }

        .brand-details {
            display: flex;
            flex-direction: column;
            .details-container {
                display: flex;
                flex-direction: row;
                .avatar-image-container {
                    margin: 0em 1em 0em 2em;
                    @include avatar-image();
                }
                .details {
                    display: flex;
                    flex-direction: column;
                    .brand-name {
                        color: $darkBlue;
                        font-family: $openSans;
                        font-size: 1.5em;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 1em;
                    }
                    @include brand-title();
                }
            }
            .description {
                margin: 0em 1.8em;
                @include descriptions();
            }
        }
    }

    .controlls {
        @include small-orange-text();
        @include arrow-controll-btn();
    }
}

