<div class="container-fluid pb-5 pt-0 pt-md-5 popular-brands-container">
    <div class="row">
        <div class="col-0 col-md-3 col-md-3 d-none d-md-block"></div>

        <div class="col-12 col-md-6">
            <span i18n class="popular-brands-heading">Popular Brands</span>
            <h3 i18n class="d-none d-md-block popular-brands-about pb-3">Find out more about the world's top food brands are
                available all over the world today.</h3>

            <span *ngIf="isErrorLoading">
                <div class="error-field-container mb-5">
                    <img src="assets/images/icn_no.jpg" class="error-image my-3" />
                    <span i18n class="error-title">Oops!</span>
                    <span i18n class="product-description">No brands nearby change to other locations and try.</span>
                </div>
            </span>

            <span *ngIf="!isLoading && !isErrorLoading">

                <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div *ngFor="let brand of popularBrands; index as i;"
                            [ngClass]="{'carousel-item': true, 'active': i===0 }">

                             <!---------------- Only For Mobile Devices ------------->
                            <div class="brand-details d-block d-md-none">
                                <div class="detailia">
                                    <div class="avatar-image-div">
                                        <img class="avatar-image-mobile mr-4 ml-4 mt-1" src="{{brand.logo_image_path}}" />
                                    </div>
                                    <div class="details mt-3">
                                        <p>{{brand.brand_name}}</p>
                                        <p>{{brand.title}}</p>
                                    </div>
                                </div>
                            </div>
                            <!----------------------------------------------------->

                            <div class="popular-brands" (click)="getDetails(brand.brand_id)">
                                <div class="brand-image-container">
                                    <img src="{{ brand.food_image_path}}" class="brand-image" />
                                </div>
                                <div class="brand-details d-none d-md-block">
                                    <div class="details-container">
                                        <div class="avatar-image-container mt-4">
                                            <img class="avatar-image" src="{{brand.logo_image_path}}" />
                                        </div>
                                        <div class="details mt-4">
                                            <span class="brand-name pt-3">{{brand.brand_name}}</span>
                                            <span class="brand-title">{{brand.title}}</span>
                                        </div>
                                    </div>
                                    <div class="description mt-3">
                                        <mat-divider></mat-divider>
                                        <div class="product-description">{{ brand.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="controlls">
                        <div class="container-fluid">
                            <div class="small-orange-text" (click)="getAllBrandsList()">
                                <span i18n>All Brands </span>
                                <mat-icon class="more-icon">keyboard_arrow_right</mat-icon>
                            </div>
                            <div class="p-2">
                                <div class="controll-btn btn-group pt-1" role="group" aria-label="Basic example">
                                    <a href="#carouselExampleControls" role="button" data-bs-slide="prev"
                                        (click)="carouselControl(-1)"
                                        [ngClass]="{'arrow-btn':hasPreviousItem, 'disabled-arrow-btn': !hasPreviousItem}">
                                        <i class="fa fa-angle-left fa-2x arrow-icon" aria-hidden="true"></i>
                                    </a>
                                    <a href="#carouselExampleControls" role="button" data-bs-slide="next"
                                        (click)="carouselControl(1)"
                                        [ngClass]="{'arrow-btn':hasNextItem, 'disabled-arrow-btn': !hasNextItem, 'margin-right':true }">
                                        <i class="fa fa-angle-right fa-2x arrow-icon" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="d-flex align-items-center justify-content-center" *ngIf="isLoading && !isErrorLoading">
                <app-loading></app-loading>
            </span>
        </div>

        <div class="col-0 col-md-3 d-none d-md-flex align-items-center justify-content-end right-green-fill">
            <img src="assets/images/greenFill.png" />
        </div>
    </div>
</div>