<app-nav-bar pageName="all-brands"></app-nav-bar>
<app-top-search-bar></app-top-search-bar>
<app-breadcrumbs pageName="all-brands"></app-breadcrumbs>
<h2>Brands Nearby</h2>
<div class="container mt-5">
    <div *ngFor = "let brand of deatilsArray"  class="item">
  <div class="card">
      <div class="col-md-4">
        <img src="{{ brand.brands.food_image_path }}" class="img-fluid">
      </div>
      <div class="cold-md-8">
        <img src="{{ brand.brands.logo_image_path }}" class="img-kfc">
        <h3>{{ brand.brands.brand_name }}</h3>
        <p>{{ brand.brands.title }}</p>
        <div class="line"></div>
        <h6>{{ brand.brands.description }}</h6>
        <img src="../../../../../assets/menu.png" class="outlets">
      </div>
    </div>
    </div>
</div>
