<app-nav-bar pageName="all-brands"></app-nav-bar>
<app-top-search-bar></app-top-search-bar>
<app-breadcrumbs pageName="all-brands"></app-breadcrumbs>
<h2>Brands Nearby</h2>
<div class="container mt-5">
    <div *ngFor = "let i of [1,2,3,4,5]"  class="item">
  <div class="card">
      <div class="col-md-4">
        <img src="../../../../../assets/Bitmap Copy 4.png" class="img-fluid">
      </div>
      <div class="cold-md-8">
        <img src="../../../assets/kfc.png" class="img-kfc">
        <h3>KFC</h3>
        <p>Latin America,Bakery</p>
        <div class="line"></div>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br> Phasellus consequat purus sit amet lectus
          bibendum finbus.</h6>
        <img src="../../../../../assets/menu.png" class="outlets">
      </div>
    </div>
    </div>
</div>
