@import '../../../../../variables.scss';
@import '../../../../../mixin.scss';

h2 {
    font-weight: lighter;
    font-family: $openSans;
    color: #757575;
    font-size: 20px;
    margin-top: 30px;
}

.popular-brands {
    display: flex;
    flex-direction: row;
    background-color: $white;
    border-radius: 5px;
    cursor: all-scroll;
    border-radius: 9px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.01), 0 0 6px rgba(0, 0, 0, 0.1);
    width: 100%;

    .brand-image-container {
        .brand-image {
            // width: 100%;
            height: 13em;
            width: 28em;
        }

        @media only screen and (max-width: 768px) {
            .brand-image {
                width: 100%;
                height: 13em;
            }
        }
    }

    .brand-details {
        display: flex;
        flex-direction: column;
        width: 40em;

        .details-container {
            display: flex;
            flex-direction: row;

            .avatar-image-container {
                margin: 0em 1em 0em 2em;
                @include avatar-image();
            }

            .details {
                display: flex;
                flex-direction: column;

                .brand-name {
                    color: $darkBlue;
                    font-family: $openSans;
                    font-size: 1.5em;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 1em;
                }

                @include brand-title();
            }
        }

        .description {
            margin: 0em 1.8em;
            @include descriptions();
            font-size: 15px !important;
           
        }

        .outlets {
            position: relative;
            height: 29px;
            width: 100px;
            float: right;
            top: 2px;
        }
    }
}