@import '../../../../../variables.scss';
@import '../../../../../mixin.scss';

.deals-offer-container {
    background-size: auto;
    overflow: hidden;
    height: 40em;
    background: $lightGradient;

    @include brands-heading();
    @include brands-about();

    .scroll-widget {
        display: inline-flex;
        overflow: hidden;
    }

    .scroll-view-container {
        float: left;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    .two-cards {
        display: flex;

        .offer-deals {
            display: flex;
            flex-direction: row;
            border-radius: 5px;
            cursor: all-scroll;

            .offer-card {
                position: relative;
                text-align: center;

                .offer-details {
                    position: relative;
                    top: -13em;
                    left: 2em;
                    width: 18em;
                    text-align: left;

                    @include offer-title();

                    .offer-description {
                        color: $white;
                        font-family: $openSans;
                        font-size: 0.8em;
                        letter-spacing: 0;
                        line-height: 1.7em;
                    }

                    @include offer-code();
                }
            }

            .brand-image-container {
                display: flex;
                margin-right: 1.2em;

                .brand-image {
                    width: 22.7em;
                    height: 13.8em;
                }

                @media only screen and (min-width: 1400px) {
                    .brand-image {
                        width: 27.8em;
                        height: 15em;
                    }
                }
            }
        }
    }

    .controlls {
        position: relative;
        top: -9em;
        @include small-orange-text();
        @include arrow-controll-btn();
    }

    .left-gradient-fill {
        position: relative;
        width: 21em;
        height: 35em;
        top: 10em;
        left: -1em;
        transform: rotate(-0deg);
    }

    .left-food-image {
        position: relative;
        width: 22em;
        height: 30em;
        top: -27em;
        left: -1em;
    }

    .offer-deal-2 {
        margin-left: 2em;
    }
}

.error-field {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .error-field-container {
        width: 20em;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1em;

        .error-image {
            width: 10em;
            height: 6em;
        }

        .error-title {
            font-weight: bold;
            font-family: $openSans;
        }

        @include descriptions();
    }
}

@media only screen and (max-width: 768px) {
    .deals-offer-container {
        height: 20em;

        .scroll-widget {
            display: inline-flex;
            overflow: auto;
        }

        .scroll-view-container {
            float: left;
            width: 100%;
            overflow: auto;
            white-space: nowrap;
        }
    }
}