<div class="container-fluid pb-5 pt-0 pt-md-5 deals-offer-container">
    <div class="row">
        <div class="col-0 col-md-3 d-none d-md-block">
            <img src="../../../../../assets/images/grad copy.png" class="left-gradient-fill">
            <img src="../../../../../assets/images/Image 3.png" class="left-food-image">
        </div>

        <div class="col-12 col-md-6">
            <span class="popular-brands-heading">Best Deals & Offers</span>
            <h3 class="d-none d-md-block popular-brands-about pb-3">Endless deals near you! Grab the best deals and
                offers.</h3>

            <span *ngIf="isErrorLoading" class="error-field">
                <div class="error-field-container mb-5">
                    <img src="../../../../../assets/images/icn_no_restaurants@2x.jpg" class="error-image my-3" />
                    <span class="error-title">Oops!</span>
                    <span class="product-description">Offer is not available at restuarants near by
                        change to other locations and try..</span>
                </div>
            </span>

            <span *ngIf="!isLoading && !isErrorLoading">
                <div #widgetsContent class="scroll-view-container" appCustomScroll #appScrollElement="appCustomScroll">
                    <div *ngFor="let offer of dealsOffers;" [ngClass]="{'scroll-widget': true}">
                        <div class="two-cards">
                            <div class="offer-deals">
                                <div class="offer-card">
                                    <div class="brand-image-container w-sm-100">
                                        <img src="{{offer.offerImagePath}}" class="brand-image" />
                                    </div>
                                    <div class="offer-details mt-3">
                                        <span *ngIf="offer.offerTitle.length>=31" class="offer-title-1">So good Wednesday <br /> Flat 39%
                                            Off</span>
                                        <span *ngIf="offer.offerTitle.length<31" class="offer-title-2">
                                            <span class="offer-text-1"> Everyday<br /></span>
                                            <span class="offer-text-2"> WOW!</span>
                                            <span class="offer-text-3"> Value</span>
                                        </span>
                                        <div *ngIf="offer.offerTitle.length<31" class="offer-description">{{offer.offerTitle}}</div>
                                        <div class="offer-code mt-3 mb-3">
                                            <span class="offer-text">{{ offer.code }}</span>
                                        </div>
                                        <span class="offer-description">View details</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="controlls">
                    <div class="container-fluid">
                        <div class="small-orange-text" (click)="getAllOffersList()">All Brands
                            <mat-icon class="more-icon">keyboard_arrow_right</mat-icon>
                        </div>
                        <div class="p-2">
                            <div class="controll-btn btn-group pt-1" role="group" aria-label="Basic example">
                                <a (click)="scrollLeft()" role="button" data-bs-slide="prev"
                                    [ngClass]="{'arrow-btn':!appScrollElement.disableBtnLeft, 'disabled-arrow-btn': appScrollElement.disableBtnLeft }">
                                    <i class="fa fa-angle-left fa-2x arrow-icon" aria-hidden="true"></i>
                                </a>
                                <a (click)="scrollRight()" role="button" data-bs-slide="next"
                                    [ngClass]="{'arrow-btn':!appScrollElement.disableBtnRight, 'disabled-arrow-btn': appScrollElement.disableBtnRight, 'margin-right':true }">
                                    <i class="fa fa-angle-right fa-2x arrow-icon" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="d-flex align-items-center justify-content-center" *ngIf="isLoading && !isErrorLoading">
                <app-loading></app-loading>
            </span>
        </div>

        <div class="col-0 col-md-3 col-md-3 d-none d-md-block">
        </div>
    </div>
</div>