@import '../../../../../variables.scss';
@import '../../../../../mixin.scss';
.edit-user-profile {
  background-image: url('../../../../../assets/images/user_profile_cover_image.png');
  height: 30%;
  margin-top: 3.4em;
  background-repeat: no-repeat;
}
.pop-up {
  position: relative;
  top: -8em;
  width: 51%;

  .edit-profile-text {
    color: $white;
    font-family: $openSans;
    font-size: 18px;
    letter-spacing: -0.3px;
    line-height: 24px;
  }

  .pop-up-card {
    border-radius: 6px;
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    padding: 20px 0px;

    .card-top {
      justify-content: space-evenly;

      .card-left {
        padding: 2em;
        padding-left: 3em;
        width: 50%;

        .profile-image-section {
          [type="file"] {
            height: 0;
            overflow: hidden;
            width: 0;
          }
          
          [type="file"] + label {
            border: none;
            height: 3.5em;
            width: 3.5em;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            transition: all 0.3s;
            position: relative;
            top: -40px;
            right: -40px;
          }
          .profile-img {
            border-radius: 50%;
            height: 80px;
            width: 80px;
          }

          .add-img {
            position: relative;
            left: -38px;
            top: 2em;
            bottom: -45px;
          }
        }

        .form {
          margin-top: 36px;
          .error{
            color: red;
          }
        }
      }

      .border {
        box-sizing: border-box;
        border: 1px solid #A4A4A4;
        opacity: 0.53;
        margin-top: 58px;
      }

      .card-right {
        width: 50%;
        margin-top: 50px;
        padding: 2em;
        padding-right: 0.5em;

        .choose-avatar-text {
          color: $black;
          font-family: $openSans;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 24px;
        }

        .avatar-images {
          .avatar-img {
            height: 91px;
            width: 91px;
            padding: 16px 16px 0px 0px;
            &:hover{
              opacity: 60%;
            }
          }
        }
      }
    }

    .card-bottom {
      justify-content: flex-end;
      width: 84%;
      margin-top: 40px;

      .save-btn {
        justify-self: end;
        margin-right: -3em;
        padding: 8px 60px;
        @include focus;
        color: $white;
        border-radius: 6px;
        background: linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);
        box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
        border:none;
      }
    }
  }
}