
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Fonts 
$openSans: 'Open Sans', sans-serif;
$bebas: 'Bebas Neue', cursive;

// colors 
$white: #FFFF;
$headerText: #4C4C4C;
$inputBoxShadow: rgba(0,0,0,0.1);
$leftFillGreen: #15c167;
$rightFillGradient: linear-gradient(138.33deg, #FEB456 0%, #F3698E 100%);
$calenderTheme: linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);
$orange: #F67E03;
$yellow: #FFE848;
$darkGray: #4C4C4C;
$grayTranperent: rgba(255,255,255,0.4);
$green: #7ACA6C;
$headerBackgroundColor: #f7f8ff;
$darkBlue: #223136;
$descriptionColor: #757575;