<div class="container-fluid how-to-order mt-4">
    <div class="row">
        <div class="col-0 col-md-3 d-none d-md-block">
            <img src="../../../../assets/images/dish.png" class="left-image">
        </div>
        <div class="col-12 col-md-6">
            <span i18n class="popular-brands-heading">How to Order</span>
            <h3 i18n class="d-none d-md-block popular-brands-about pb-3">Giving you an easiest way to look for the best food
                that can be ordered.
            </h3>
            <div class="how-order mt-5">
                <div class="how-to-order-items">
                    <img class="avatar-image mt-1" src="../../../../assets/images/shop.png" />
                    <span i18n class="popular-brands-about">Explore restaurants that
                        deliver to your doorstep.
                    </span>
                </div>
                <img class="path-image mt-3" src="../../../../assets/images/path1.png" />
                <div class="how-to-order-items">
                    <img class="avatar-image mt-1" src="../../../../assets/images/burger.png" />
                    <span i18n class="popular-brands-about">Browse menus and build
                        your order in seconds.
                    </span>
                </div>
                <img class="path-image mt-3" src="../../../../assets/images/path2.png" />
                <div class="how-to-order-items">
                    <img class="avatar-image mt-1" src="../../../../assets/images/cart.png" />
                    <span i18n class="popular-brands-about">Follow the status of your
                        order with real-time alerts.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-0 col-md-3 d-none d-md-block">
            <img src="../../../../assets/images/bread.png" class="right-image">
        </div>
    </div>
</div>