@import '../../../../../variables.scss';
@import '../../../../../mixin.scss';

.side-heading {
  color: #5b5b5c;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 1em;
}

.right-option-text {
  float: right;
  color: #FCA100;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 1em;
  cursor: pointer;
}

.brands-nearby {
  width: 100%;
  background-color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;

  .scroll-widget {
    display: inline-flex;
    overflow: hidden;
  }

  .scroll-view-container {
    overflow: hidden;
    white-space: nowrap;
  }

  .two-cards {
    display: flex;

    .offer-deals {
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      cursor: all-scroll;

      .offer-card {
        @include descriptions();
        
        .card-brand-name {
          padding-top: 0.8em;
          color: $darkBlue;
          font-family: $openSans;
          font-size: 0.8em;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 1em;
        }

        position: relative;
        text-align: center;

        .offer-details {
          position: relative;
          top: -13em;
          left: 2em;
          width: 18em;
          text-align: left;
        }
      }

      .brand-image-container {
        display: flex;
        margin-right: 3.8em;

        .image {
          height: 62px;
          width: 62px;
        }

        @media only screen and (min-width: 1400px) {
          .brand-image {
            width: 27.8em;
            height: 15em;
          }
        }
      }
    }
  }

  .arrow-btn {
    padding: 8px 16px;
    width: 2em;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7em;
    background-color: white;
  }

  .disabled-arrow-btn {
    background-color: white;
    color: $disabledButton;
    text-decoration: none;
    padding: 8px 16px;
    width: 2em;
    height: 8em;
    display: flex;
    justify-content: center;
    border-radius: 0.7em;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {

  .scroll-widget {
    display: inline-flex;
    overflow: auto;
  }

  .scroll-view-container {
    float: left;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
}