@import '../../../../variables.scss';
@import '../../../../mixin.scss';

@include overriding-angular-materials-filter-input(13.5em);

.search-bar-container {
    background-image: url("../../../../assets/images/pattern-3.png");
    background-color: rgba(227, 230, 240, 0.6);
    background-repeat: repeat;
    background-size: 100%;

    height: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .search-bar-area {
        position: relative;
        top: 1.5em;
        @include descriptions(18%);

        .location-date-input {
            margin-left: 7%;
            position: relative;

            .location {
                @include mediam-imput-box(18%, 2.5em);
                @include icon-style(1.2em);
                @include gps-form-control(0em);

                .location-input {
                    outline: 5px solid $white;
                    box-shadow: none;
                    outline: none;
                    border: none;
                    z-index: -1;
                    width: 10em;
                    padding-left: 3em;
                }

                margin-right: 1em;
                background-color: $white;
            }

            .search-box {
                background-color: $white;
                margin-right: 0.4em;
                @include mediam-imput-box(40%, 2.5em);
                @include icon-style(1.2em);
                @include form-controles();
            }

            @include calender-container();

            .hidden-input {
                visibility: hidden;
                position: absolute;
                top: 0em;
                height: 0em;
                width: 0em;
                right: 0em;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    @include overriding-angular-materials-filter-input(15.6em);
    .search-bar-container {
        .search-bar-area {
            .location-date-input {
                .location {
                    @include mediam-imput-box(18%, 3em);
                }

                .search-box {
                    @include mediam-imput-box(40%, 3em);
                }

                .calender-container {
                    width: 2.8em;
                    height: 2.8em;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    @include overriding-angular-materials-filter-input(26.8em);
    .search-bar-container {
        height: 22.5em;

        .search-bar-area {
            position: relative;
            top: 1.5em;
            @include descriptions(0%);

            .location-date-input {
                margin-left: 0%;

                .location {
                    margin-top: 5%;
                    margin-right: 20em;
                    @include mediam-imput-box(100%, 3em);
                    .location-input {
                        outline: 5px solid $white;
                        box-shadow: none;
                        outline: none;
                        border: none;
                        z-index: -1;
                        width: 27em;
                    }
                }

                .search-box {
                    margin-top: 5%;

                    .icon-style {
                        margin-right: 1em;
                    }

                    @include mediam-imput-box(100%, 3em);
                }

                .calender-container {
                    margin-top: 5%;
                    width: 2.8em;
                    height: 2.8em;
                }
            }
        }
    }
}