<app-nav-bar pageName="menu-home"></app-nav-bar>
<app-top-search-bar pageName="menu-home"></app-top-search-bar>
<app-breadcrumbs pageName="menu-home"></app-breadcrumbs>

<div class="menu-home">
  <div class="container-fluid header">
    <div class="row">
      <div class="col-1 col-xl-2"></div>
      <div class="col-10 col-xl-8">
        <div class="form">
          <div class="card">
            <div class="details">
                <img class="cutlery" src="assets/cutlery.png">
                <label class="name">{{name}}</label>
                <label class="cuisines">{{cuisines}}</label>
                <div class="rating"
                    [ngClass]="{'ratingBox-green':restaurantRaring>=4, 'ratingBox-yellow':restaurantRaring<=3, 'ratingBox-red':restaurantRaring<3}">
                </div>
                <p>{{ restaurantRaring | number : '1.1-1' }}</p>
                <label class="time"> &#8226; {{time}} mins</label>
                <label class="order"> &#8226; INR{{cost}} min order</label>
                <img class="timings" src="assets/time_icon.png">
                <label
                    class="open">{{openTime[0]+":"+openTime[1]+openTime[1]+"-"+closeTime[0]+":"+closeTime[1]+closeTime[1]}}</label>
                <label class="delivery">Delivery for last 5 orders</label>
                <button *ngIf="rating1"
                    [ngClass]="{'star-green':rating1>=4, 'star-orange':rating1<=3, 'star-red':rating1<3}"
                    class="star"> &#9733; {{ rating1 }}</button>
                <button *ngIf="rating2"
                    [ngClass]="{'star-green':rating2>=4, 'star-orange':rating2<=3, 'star-red':rating2<3}"
                    class="star1">&#9733; {{ rating2 }}</button>
                <button *ngIf="rating3"
                    [ngClass]="{'star-green':rating3>=4, 'star-orange':rating3<=3, 'star-red':rating3<3}"
                    class="star2">&#9733; {{ rating3 }}</button>
                <button *ngIf="rating4"
                    [ngClass]="{'star-green':rating4>=4, 'star-orange':rating4<=3, 'star-red':rating4<3}"
                    class="star3">&#9733; {{ rating4 }}</button>
                <button *ngIf="rating5"
                    [ngClass]="{'star-green':rating5>=4, 'star-orange':rating5<=3, 'star-red':rating5<3}"
                    class="star4">&#9733; {{ rating5 }}</button>
                <div class="effect d-none d-md-block">
                </div>
            </div>
            <img class="food d-none d-md-block" src="{{image?image:placeholderImage}}">
        </div>
          <div class="row rectangle">
            <div class="col-lg-6 col-md-6 col-sm-12 search-box">
              <img class="search-icon" src="../../../../../assets/images/icn_search.png" />
              <input class="input" placeholder="Search for Offers" [(ngModel)]="menuSearch">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 box">
              <div class="line1"></div>
              <div class="rectangle1 col-lg-8 col-md-8 col-sm-6">
                <p class="text">Delivering food to</p>
                <div class="addressBox">
                  <img src="../../../../../assets/images/icn_pin.png" alt="">
                  <p class="address">{{ adress }}</p>
                </div>
              </div>
              <div class="rectangle2 col-lg-4 col-md-4 col-sm-6">
                <div class="line2"></div>
                <p routerLink="/user-profile"  class="change">CHANGE</p>
              </div>
            </div>
          </div>

          <div class="offers row">
            <div class="cards col-lg-6 col-mg-6 col-sm-12" *ngFor="let cards of cardlist | filterOffers:menuSearch; let i=index;">
              <img src="{{cards.offerImagePath}}" alt="">
              <div class="cardDetails">
                <p class="offerTitle" id="title">{{cards.offerTitle}}</p>
                <div class="box2">
                  <p class="code" id="code">{{cards.code}}</p>
                  <p class="viewDetails" (click)="displayImage(cards, i)">View details</p>
                </div>
                <button class="apply">APPLY</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-md-2"></div>
  </div>
</div>

<div *ngIf="isOpen" class="screen">
  <div class="dialog">
    <button class="close" mat-button mat-dialog-close>
      <img class="close" (click)="close()" src="../../../../../assets/images/dismiss_button_white.png" alt="">
    </button>
    <p class="title">{{popoverData.offerTitle}}</p>
    <p class="code">{{popoverData.code}}</p>
    <img class="image" [src]="popoverData.offerImagePath" alt="">
    <div class="box1">
      <p class="heading1">Offer Details</p>
      <ul>
        <li class="details">Get {{popoverData.offerPercent}}% Off</li>
        <li class="details">Offer valid till 21st Dec</li>
      </ul>
    </div>
    <div class="box2">
      <p class="heading2">Delivering food to</p>
      <div class="addressBox">
        <img src="../../../../../assets/images/icn_pin.png" alt="">
        <p class="address">{{adress}}</p>
      </div>
    </div>
    <div class="box3">
      <p class="heading3">Offer applicable nearby outlets</p>
      <div class="outlet" *ngFor="let item of outlets">
        <p class="outletName">{{item.outletName}}</p>
        <p class="outletAddress">{{item.outletAddress}}</p>
      </div>
    </div>
    <div class="box4">
      <button class="applyButton">APPLY</button>
    </div>
  </div>
  <div class="rectangle">
    <button class="fa fa-angle-left leftArrow" id="left" (click)="leftArrow()"></button>
    <button class="fa fa-angle-right rightArrow" id="right" (click)="rightArrow()"></button>
  </div>
</div>