<app-nav-bar pageName="menu-home"></app-nav-bar>
<app-top-search-bar pageName="menu-home"></app-top-search-bar>
<app-breadcrumbs pageName="menu-home"></app-breadcrumbs>

<div class="menu-home">
  <div class="container-fluid header">
    <div class="row">
      <div class="col-0 col-md-3"></div>
      <div class="col-12 col-md-7">
        <div class="form">
          <div class="card">
            <div class="details">
              <img class="cutlery" src="../../../../../assets/cutlery.png">
              <label class="name">{{name}}</label>
              <label class="cuisines">{{cuisines}}</label>
              <img class="rating" src="../../../../../assets/rectangle.png">
              <p>4.3</p>
              <label class="time"> &#8226; {{time}} mins</label>
              <label class="order"> &#8226; INR{{cost}} min order</label>
              <img class="timings" src="../../../../../assets/time_icon.png">
              <label
                class="open">{{openTime[0]+":"+openTime[1]+openTime[1]+"-"+closeTime[0]+":"+closeTime[1]+closeTime[1]}}</label>
              <label class="delivery">Delivery for last 5 orders</label>
              <button class="star"> &#9733; 4</button>
              <button class="star1">&#9733; 4</button>
              <button class="star2">&#9733; 3</button>
              <button class="star3">&#9733; 4</button>
              <button class="star4">&#9733; 2</button>
              <div class="effect d-none d-md-block">
              </div>
            </div>
            <img class="food d-none d-md-block" src="{{image?image:placeholderImage}}">
          </div>
        </div>
      </div>
      <div class="col-0 col-md-2"></div>
    </div>
  </div>

  <div class="cards"></div>
</div>
