<app-nav-bar pageName="cart-page"></app-nav-bar>
<app-top-search-bar pageName="cart-page"></app-top-search-bar>
<app-breadcrumbs pageName="cart-page"></app-breadcrumbs>

<div class="container-fluid">
    <div class="main-container">
        <div class="row">
            <div class="col-0 col-lg-3"></div>
            <div *ngIf="componentName === 'cart-list'" class="col-12 col-lg-7 contents">
                <span class="item-heder">My Cart (3)</span>
                <div class="cart-data-container row">
                    <div *ngFor="let i of [1,2,3]" class="cart-data mt-4 mt-md-0 col-12 col-md-4">
                        <div class="cart-iem-card">
                            <div class="card-heading">
                                <span class="card-heading-text">The Boutique Kitchen</span>
                                <span class="remove-text">Remove</span>
                            </div>
                            <div class="adress-text">
                                <span>Prems, Dubai, UAE</span>
                            </div>
                            <div class="cart-details">
                                <span>3 Items</span>
                                <span class="price-text">INR85.76</span>
                            </div>
                            <div class="add-btn big-button" (click)="showCartItems()">
                                PROCEED
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="componentName === 'cart-items'" class="col-12 col-lg-7">
                <app-cart-items></app-cart-items>
            </div>
            <div class="col-0 col-lg-2"></div>
        </div>
    </div>
</div>