<app-nav-bar pageName="cart-page"></app-nav-bar>
<app-top-search-bar pageName="cart-page"></app-top-search-bar>
<app-breadcrumbs pageName="cart-page"></app-breadcrumbs>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-1 col-xl-2"></div>
        <div *ngIf="componentName === 'cart-list'" class="col-10 col-xl-8 contents">
            <span class="item-heder">My Cart ({{orders.length}})</span>
            <div class="cart-data-container row">
                <div *ngFor="let item of orders" class="cart-data mt-4 mt-md-0 col-12 col-md-4">
                    <div class="cart-iem-card">
                        <div class="card-heading">
                            <span class="card-heading-text">{{item.restaurant_name}}</span>
                            <span class="remove-text" (click)="clearCart(item.orderNumber)">Remove</span>
                        </div>
                        <div class="adress-text">
                            <span>{{item.restaurant_address}}</span>
                        </div>
                        <div class="cart-details">
                            <span>{{item.numOFItems}} items</span>
                            <span class="price-text">INR{{item.totalAmount}}</span>
                        </div>
                        <div class="add-btn big-button" (click)="showCartItems(item.orderNumber)">
                            PROCEED
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="componentName === 'cart-items'" class="col-10 col-xl-8">
            <app-cart-items (notify)="onNotify()" [orderNumber]="orderNumber"></app-cart-items>
        </div>
        <div class="col-1 col-xl-2"></div>
    </div>
</div>